#tools {
    top: 10px;
	z-index: 9999;
}

#3dgraph {
	margin-top: -5px;
}

.dg.a {
	float: left!important;
	margin-left: 15px!important;
	overflow-y: visible;
	margin-top: 47px!important;
}

.dg .c input[type=checkbox] {
    visibility: visible;
}