#adfinfo {
    position: relative;
    width: 100%;
    top: 10px;
    height: 100%;
}

.hdfstructure {
    position: relative;
    width: 50%;
    text-align: left;
    top: 50px;
    left: 10px;
    float: left;
	border: 1px solid #fca037;
    padding-left: 5px;
    padding-right: 5px;
    overflow-x : auto;
}

#adfdetails {
    position: relative;
    width: 45%;
    top: 50px;
    left: 10px;
    float:left;
}

.adfversion {
    position: relative;
    width: 100%;
    left: 10px;
	border: 1px solid #fca037;
    padding-left: 5px;
    padding-right: 5px;
}

.adfchecksum {
    position: relative;
    width: 100%;
    top: 10px;
    left: 10px;
	border: 1px solid #fca037;
    padding-left: 5px;
    padding-right: 5px;
}

.ddstructure {
    position: relative;
    width: 100%;
    top: 20px;
    left: 10px;
	border: 1px solid #fca037;
    padding-left: 5px;
    padding-right: 5px;
}

.info {
	position: absolute;
	color: #000;
	background: #fff;
	font-size: 12px;
	font-family: monospace;
	padding: 5px;
	z-index:9999; 
}

.info.n { top: 40px; right: 0; }
.info.e { top: 60px; right: 0; }

#tools {
	width: 335px;
	height: auto;
	position: absolute;
	font-size: 10pt;
	top: 50px;
	left: 5px;
	z-index: 9999;
	opacity: 0.8;
}
.item {
 	cursor: pointer;
}
.bold {
	font-weight: bold;
}
ul {
	padding-left: 1em;
	line-height: 1.5em;
	list-style-type: dot;
}
#mynetwork {
	width: 100%;
    height: 100%;
}
.slidecontainer {
	width: 100%; /* Width of the outside container */
	position:relative;
	z-index:9999;
}

.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 14px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.4; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	z-index:9999;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 10px; /* Set a specific slider handle width */
	height: 14px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 14px; /* Set a specific slider handle width */
	height: 14px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.sliderlabel {
	position: absolute;
	float: left;
	top:3px;
	left:10px;
	opacity: 0.95;
	z-index:-1;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	font-size: 10px;
}

.slidervalue {
	position: absolute;
	float: right;
	top:3px;
	right:5px;
	z-index:-1;
	font-size: 10px;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	z-index: 9999;
}
.btn.focus, .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.btn-group-vertical > .btn {
	border: 0;
	padding: 6px 10px;
	position: relative;
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
}
.btn-group-vertical >.btn:not(:first-child):not(:last-child) {
	border-radius: 0;
}
.btn-group-vertical > .btn:focus {
	background-color: #ffffff;
}
.btn-group-vertical > .btn.active {
	background-color: #cccccc;
}

#viewController {
	position: absolute;
	bottom: 20px;
	right: 10px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
}

.renderjson a { text-decoration: none; }
.renderjson .disclosure { 
	color: crimson;
	font-size: 150%; 
}
.renderjson .syntax { color: grey; }
.renderjson .string { color: darkred; }
.renderjson .number { color: darkcyan; }
.renderjson .boolean { color: blueviolet; }
.renderjson .key    { color: darkblue; }
.renderjson .keyword { color: blue; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: orange; }