#auditdata {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100%;
    height: 90%;
}

#audittrailtype {
    position: relative;
    width: 100%;
    top: 25px;
    left: 42px;
    padding-bottom: 10px;
}

#audittrail {
    position: relative;
    width: 100%;
    top: 10px;
}

.info {
	position: absolute;
	color: #000;
	background: #fff;
	font-size: 12px;
	font-family: monospace;
	padding: 5px;
	z-index:9999; 
}

.info.n { top: 40px; right: 0; }
.info.e { top: 60px; right: 0; }

#tools {
	width: 335px;
	height: auto;
	position: absolute;
	font-size: 10pt;
	top: 50px;
	left: 5px;
	z-index: 9999;
	opacity: 0.8;
}
.item {
 	cursor: pointer;
}
.bold {
	font-weight: bold;
}
ul {
	padding-left: 1em;
	line-height: 1.5em;
	list-style-type: dot;
}
#mynetwork {
	width: 100%;
    height: 100%;
}
.slidecontainer {
	width: 100%; /* Width of the outside container */
	position:relative;
	z-index:9999;
}

.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 14px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.4; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	z-index:9999;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 10px; /* Set a specific slider handle width */
	height: 14px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 14px; /* Set a specific slider handle width */
	height: 14px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
}

.sliderlabel {
	position: absolute;
	float: left;
	top:3px;
	left:10px;
	opacity: 0.95;
	z-index:-1;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	font-size: 10px;
}

.slidervalue {
	position: absolute;
	float: right;
	top:3px;
	right:5px;
	z-index:-1;
	font-size: 10px;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	z-index: 9999;
}
.btn.focus, .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.btn-group-vertical > .btn {
	border: 0;
	padding: 6px 10px;
	position: relative;
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
}
.btn-group-vertical >.btn:not(:first-child):not(:last-child) {
	border-radius: 0;
}
.btn-group-vertical > .btn:focus {
	background-color: #ffffff;
}
.btn-group-vertical > .btn.active {
	background-color: #cccccc;
}

#viewController {
	position: absolute;
	bottom: 20px;
	right: 10px;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
}

.renderjson a { text-decoration: none; }
.renderjson .disclosure { 
	color: crimson;
	font-size: 150%; 
}
.renderjson .syntax { color: grey; }
.renderjson .string { color: darkred; }
.renderjson .number { color: darkcyan; }
.renderjson .boolean { color: blueviolet; }
.renderjson .key    { color: darkblue; }
.renderjson .keyword { color: blue; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: orange; }

.tooltip {
    width: 18em;
    background-color: #ffffcc;
    border: 1px solid #a0a0a0;
    padding: 5px;
    margin-top: 0.4em;
    margin-left: 0.6em;
}

.tooltip span.top {
}

body {
    min-height: 100%;
    font-family: Verdana, "Trebuchet MS", Helvicita, Arial, sans-serif;
    font-size: 95%;
    background-color: #ffffff;
    color: #000000;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
    background-image: url(../image/back.png);
}

hr {
    border: none;
    height: 1px;
    background-color: #808080;
}

form {
    padding: 0px;
    margin: 0px;
}

.header {
    text-align: center;
    padding-top: 17px;
    height: 90px;
    background: url(../image/top1.png) repeat-x;
}

.bodywrap {
    background-color: #000000;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.shoutboxcon {
    float: right;
    margin-top: 25px;
    margin-right: 17px;
    padding-bottom: 10px;
    z-index: 5;
    color: #000000;
    padding: 5px;
    background-color: #cccccc;
    text-align: left;
    position: absolute;
    right: 0;
}

.mast {
    font-size: 105%;
}

.mast_first {
    margin-top: 0;
}

form > .mast {
    font-size: 110%;
}

.jsonlogo {
    float: right;
    margin-left: 1em;
}

.mainbody {
    padding-left: 1em;
    padding-right: 1em;
}

.footer {
    background-color: #ffffaa;
    padding: 3px;
}

img {
    border: 0px;
}

wbr:after {
    content: "\00200B";
}

.noa {
    line-height: 0em;
    font-size: 0em;
}

.titled {
    border-bottom: 1px dashed #000000;
}

.output {
    margin-top: 1em;
    margin-bottom: 1em;
}

.desc {
    display: none;
    width: 40%;
    position: absolute;
    z-index: 99;
    padding: 1em;
    border: 1px solid #000000;
    background-color: #ffffee;
}

.closep {
    text-align: center;
    margin-bottom: 0px;
}

h3 {
    margin-top: -0.3em;
    margin-bottom: 0.5em;
    font-size: 105%;
}

table {
    border: 1px solid #000000;
    border-collapse: collapse;
}

table td, table th {
    padding: 0.2em 0.3em;
    border: 1px solid #000000;
    vertical-align: top;
}

div.object {
    padding: 1.5em;
    border: 1px solid #000000;
    background-color: #eeeeee;
    height: 1%;
    position: relative;
}

.objecttable {
    background-color: #ffffff;
}

div.array {
    padding: 1.5em;
    border: 1px solid #000000;
    background-color: #eeeeff;
    height: 1%;
    position: relative;
}

.arraytable {
    background-color: #ffffee;
}

.wrap {
    display: table;
    margin: 0.3em;
}

.string {
    color: #000000;
}

.number {
    color: #0000ff;
}

.boolean {
    color: #ff8000;
}

.void {
    color: #0000ff;
}

.widgets {
    position: absolute;
    top: 1em;
    right: 1.5em;
    width: 9px;
    height: 20px;
}

.statson {
    padding: 0.5em;
    background-color: #ffffff;
    border: 1px solid #a0a0a0;
}

#statscon {
    display: none;
}

#stats table {
    border: none;
}

#stats table tr {
    border: none;
}

#stats table td {
    border: none;
}

.ex {
    vertical-align: middle;
    margin-bottom: 1px;
    margin-top: 1px;
}

.clear {
    clear: both;
}

.lfloat {
    float: left;
}

.rfloat {
    float: right;
}

div > #submit {
    font-size: large;
}

div > #reset {
    font-size: large;
}

div > #help {
    font-size: large;
}

div > #statst {
    font-size: large;
}

#text {
    width: 99%;
    margin-bottom: 0.5em;
    border: 1px solid purple;
    padding: 1px;
}

#inputcontainer > #text {
    width: 100%;
}

.framed {
    width: 99%;
    margin-bottom: 0.5em;
    border: 1px solid purple;
    display: block;
}

#donate form {
    vertical-align: middle;
}

#donate form input {
    vertical-align: middle;
}

#shoutbox {
    display: none;
    border: 1px solid #000000;
    background-color: #ffffff;
    margin-top: 0.5em;
}

.oz_quiz_notice {
    background-color: #ffffaa;
    border: 1px solid #ffff00;
    padding: 15px;
    margin-bottom: 15px;
}

.oz_quiz_notice p {
    margin: 0;
}

#audittrail {
    position: relative;
    width: 100%;
    top: 30px;
}

#audittrailtype {
    position: relative;
    width: 100%;
    top: 35px;
    left: 51px;
    padding-bottom: 10px;
}

#logowhite {
    padding-top: 37px;
}