#cy {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#textualtree {
	display: none;
}

#tools {
	width: 300px;
	height: auto;
	position: absolute;
	top: 0px;
	left: 50px;
	z-index: 9999;
	opacity: 0.8;
}

#logo {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
	left: 10px;
	z-index: 9999;
}

#layoutalgos {
	width: auto;
	height: auto;
	position: absolute;
	float: right;
	opacity: 0.5;
	top: 0px;
	left: 350px;
	z-index: 9999;
}

#collapseAll, #expandAll, #collapseRecursively, #expandRecursively {
	opacity: 0.3;
}

#loading {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    /* border: 16px solid #f3f3f3; */
    /* border-top: 16px solid #3498db; */
    /* border-radius: 50%; */
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    background-image: url(../image/logo.svg);
    background-size: cover;
    opacity: 0.5;
}

@keyframes spin { 
	0% {
		transform: rotate(0deg);
	}

	100%
	{
		transform:rotate(360deg);
	}
}

#loading.loaded {
	display: none;
}

.adfseeloading {
    animation: spin 2s linear infinite;
}

.slidecontainer {
	width: 100%; /* Width of the outside container */
	position: relative;
	z-index: 9999;
}

.slider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 14px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.4; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	z-index: 9999;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 10px; /* Set a specific slider handle width */
	height: 14px; /* Slider handle height */
	background: #273b7b;
	cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
	width: 14px; /* Set a specific slider handle width */
	height: 14px; /* Slider handle height */
	background: #273b7b; /* Custom background */
	cursor: pointer; /* Cursor on hover */
}

.sliderlabel {
	position: absolute;
	float: left;
	top: 3px;
	left: 10px;
	opacity: 0.95;
	z-index: -1;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	font-size: 10px;
}

.slidervalue {
	position: absolute;
	float: right;
	top: 3px;
	right: 5px;
	z-index: -1;
	font-size: 10px;
}

.cy-panzoom {
	position: absolute;
	top: 40px;
}

.cy-title {
	text-align: center;
}

.cy-title_right {
	text-align: right;
}

.labeldiv {
	position: absolute;
}

.cy-title__p1 {
		color: #000000;
	margin: 0;
}

.cy-title__p2 {
	color: #000000;
	margin: 0;
}

.cy-title__p2::before {
	content: "{";
	color: #2f2fb1;
}

.cy-title__p2::after {
	content: "}";
	color: #2f2fb1;
}

.cy-title_left {
	text-align: left;
}

.labeldiv {
	text-align: left;
}

.thelabel {
	font-weight: bold;
	background-color:Black;
	color:white;
}

.literal {
	font-style: italic;
}

.toggle {
	text-decoration: none;
	font-size: 12pt;
	font-weight: bold;
	-webkit-transition: all 0.15s ease-out 0;
	-moz-transition: all 0.15s ease-out 0;
	transition: all 0.45s ease-out 0;
	position: fixed;
	top: 125px;
	right: -24px;
	z-index: 9999999;
	cursor: pointer;
	color: #ffffff;
}

.sidebar {
	position: fixed;
	top: 80px;
	height: auto;
	right: -190px;
	-webkit-transition: all 0.15s ease-out 0;
	-moz-transition: all 0.15s ease-out 0;
	transition: all 0.15s ease-out 0;
	width: 11rem;
	padding: 1.5em;
	background: #273b7b; /*before: #E78D25*/
	z-index: 999999;
	opacity : 0.3;
}

.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

.sidebar li a {
	color: #fff;
	font-family: cursive;
	font-size: 12pt;
	margin: 0;
	margin-bottom: 10px;
	cursor: pointer;
	text-decoration: none;
	line-height: 200%;
}

.sidebar a:hover {
	color: rgba(0, 0, 0, 0.61);
}

#uploadfile:checked+#uploadcontainer .sidebar {
	right: 0px;
	top: 80px;
	opacity : 1.0;
}

#uploadfile:checked+#uploadcontainer .toggle {
	right: 166px;
	top: 125px;
	opacity : 1.0;
}

#uploadfile {
	z-index: 999999;
	display: none;
}

.rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#spacer {
	height: 5px;
}

#instanceorclass {
    width: 100%;
    position: relative;
    margin-bottom: 0px;
	border: none;
	color: #ffffff;
	left: 10px;
	font-size: 10pt;
}

#processbutton {
	margin-left: 15px;
	background: #273b7b;
	border-style: solid;
	border-color: #ffffff;
	border: 2px solid rgba(255, 255, 255, 0.3);
	width: 175px;
	margin-left: 10px;
}

#processbutton:hover {
	background: #273b7b80;
	border: 2px solid rgba(255, 255, 255, 0.9);
}

input[type=checkbox] {
	visibility: hidden;
}

.customcheckbox {
	width: 150px;
	margin: 5px 10px;
	position: relative;
	z-index: 99999;
}

.customcheckbox label {
	cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	background: #273b7b;
	border-color: #ffffff;
	border: 2px solid rgba(255, 255, 255, 0.3);
}

.customcheckbox label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border-color: #ffffff;
	border: 2px solid rgba(255, 255, 255, 1.0);
	border-top: none;
	border-right: none;
	color: #273b7b;
	transform: rotate(-45deg);
}

.customcheckbox label:hover::after {
	opacity: 0.5;
}

.customcheckbox input[type=checkbox]:checked+label:after {
	opacity: 1;
}

#processingresult {
	border: none;
	position: relative;
	color: #ffffff;
	left: 10px;
	font-size: 10pt;
}

#processingresult.error {
	color: #ff0000;
	background: transparent;
}

#processingresult.ok {
	color: #ffffff;
	background: transparent;
}

#processingresult.unknown {
	color: #ffffff87;
}

.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    align-items: center;
    padding-left: 7px;
    margin: 0px;
    min-height: 100px;
}

#fileUploadForm {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 90px;
    max-height: 150px;
}

#additionalFileUploadForm {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 90px;
    max-height: 150px;
}

#additionalFileUploadForm::-webkit-scrollbar, #fileUploadForm::-webkit-scrollbar {
    width: 8px;
}

#additionalFileUploadForm::-webkit-scrollbar-track, #fileUploadForm::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(255,255,255,0.3);
    border-radius: 3px;
}

#additionalFileUploadForm::-webkit-scrollbar-thumb, #fileUploadForm::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 4px rgba(255,255,255,0.5);
}

.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    min-height: 40px;
    max-height: 40px;
	margin-bottom: 2px;
	padding-left: 10px;
}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 6px;
    border-style: solid;
    margin-bottom: 2px;
    border-color: #ffffff;
    background: #273b7b;
    height: 40px;
    width: 133px;
    margin-bottom: 0px;
    overflow: hidden;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 10px 10px;
    position: relative;
    color: #ffffff;
    left: 10px;
	background: #273b7b;
}

.dropzone .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: 4px;
    left: 0;
    /*opacity: 0;*/
    font-size: 10px;
    min-width: 100%;
    max-width: 100%;
    padding: 0em 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    line-height: 60%;
}

.dropzone .dz-preview .dz-details .dz-size {
    padding-top: 7px;
    margin-bottom: 6px;
    font-size: 12px;
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
    border: none;
}

.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
    background-color: transparent;
    padding: 0;
    border: none;
}

.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
    display: block;
    width: 30px;
    height: 30px;
}

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    pointer-events: none;
    opacity: 0;
    z-index: 500;
    position: absolute;
    display: block;
    bottom: 6px;
    right: 10px;
    top: 0px;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
}

dropzone .dz-preview .dz-progress .dz-upload {
    background: linear-gradient(to bottom, rgb(255, 255, 255), #273b7b9e);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
}

.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
    display: block;
    width: 22px;
    height: 22px;
    padding-left: 5px;
    padding-top: 5px;
    margin-left: 10px;
}

.dropzone .dz-preview .dz-progress .dz-upload {
    background: linear-gradient(to bottom, #273b7b80, #ffffff80);
    position: absolute;
    top: 6px;
    left: 10px;
    bottom: 0;
    width : 0;
    height:100%;
    max-width: 135px;
    -webkit-transition: width 300ms ease-in-out;
    -moz-transition: width 300ms ease-in-out;
    -ms-transition: width 300ms ease-in-out;
    -o-transition: width 300ms ease-in-out;
    transition: width 300ms ease-in-out;
}
.dz-error-message {
	display: none;
}

.dropzone .dz-preview .dz-details .dz-filename:hover span {
    border: none;
    background-color: transparent;
}

.radiocontainer {
    display: block;
    position: relative;
    padding-left: 14px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 12pt;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radiocontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input ~ .checkmark {
    opacity: 1.0;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked ~ .checkmark {
    background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 5px;
	height: 5px;
	border-radius: 30%;
	background: white;
}

#classes {
    width: 80%;
    right: 10px;
}

#instances {
    width: 80%;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 6px;
    left: 0px;
    height: 8px;
    width: 8px;
    background-color: #ffffff80;
    border-radius: 50%;
    opacity: 0.8;
}

.radiocontainer input:checked ~ .checkmark {
    background-color: rgba(255, 255, 255, 1.0);
}

.radiocontainer .checkmark:after {
    top: 2px;
    left: 2px;
    width: 4px;
    height: 4px;
    border-radius: 40%;
    background: #273b7b;
}

#tools input[type=checkbox] {
    visibility: visible;
}

#footer {
	color:#11221180;
	font-size:12pt;
	font-family: "Lucida Console", Monaco, monospace;
	opacity: 0.2;
	z-index: 9999999;
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: transparent;
}

.cytoscape-navigator {
    position: fixed;
    border: 0px solid #000;
    background: #fff;
    z-index: 99999;
    width: 150px;
    height: 150px;
    bottom: 5px;
    left: 5px;
    overflow: hidden;
}

.cytoscape-navigatorOverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 103;
    border: 1px;
    border-color: #00000020;
    border-style: solid;
}

.cytoscape-navigatorView {
    border: 1px;
    border-style: solid;
    color: #00000040;
}

.cytoscapeLink {
	font-size: 12pt; 
	color: #000000; 
	position:absolute;
	left: 5px;
	bottom : 5px;
	cursor: pointer; 
	text-decoration:none;
}

.activeLinkClass {
	font-size: 12pt; 
	color: #000000; 
	cursor: pointer; 
	text-decoration: none;
	display:block;
}

.inactiveLinkClass {
	display:none; 
}

.customtextbox {
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 2px 2px;
    position: relative;
    color: #ffffff;
    left: 21px;
    width: 80%;
    top: -15px;
    background: #273b7b;
}