.emph {
	font-style: italic;
}

.nodeLabel {
	font: 10px sans-serif;
	fill: #000000;
	text-anchor: end;
}

.zoneLabel {
	font: 40px sans-serif;
	fill: #000000;
	text-anchor: middle;
}

.inner {
	width: 1200px;
	margin: 0 auto;
}

.all {
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: #ffffff;
}

.myHeading {
	min-height: 100px;
	height: auto;
	height: 100px;
	width: 100%;
}

.myCan {
	width: 100%;
}

.myData {
	width: 1200px;
	margin: 0 auto;
	font: 14px sans-serif;
	fill: #000000;
	text-anchor: middle;
}