.homeLink {
	font-size: 12pt; 
	color: #000000; 
	cursor: pointer; 
	text-decoration:none;
}

#tools {
	width: auto;
	height: auto;
	position: absolute;
	top: 50px;
	left: 10px;
	z-index: 9999;
	opacity: 0.8;
}

#plottypes {
	width: 100%;
	height: auto;
	position: absolute;
	top: 5px;
	left: 50px;
	z-index: 9999;
	opacity: 0.8;
}

.axis {
  stroke: #000;
  stroke-width: 1.5px;
}

.node circle {
  stroke: #000;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
  stroke-opacity: .3;
}

.link.active {
  stroke: red;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.node circle.active {
  stroke: red;
  stroke-width: 3px;
}

#d3graph {
    position: absolute;
    top: 50px;
    left: 50px;
    width:90%;
    height:90%;
}

#info {
    top: 36px;
    left: 110px;
    position: absolute;
}

body {
	overflow:auto;
	overflow-x:hidden;
}