canvas, svg {
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.initializing, .loading {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding-top: 220px;
	text-align: center;
	font-size: 20px;
	background: rgba(192, 192, 192, 0.8);
	color: #555;
}

.initializing p, .loading p {
	font-size: 10px;
	line-height: 20px;
	height: 20px;
}

.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke-opacity: 0.6;
}

body {
	font-family: sans-serif;
}

.node circle {
  stroke: #000;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
  stroke-opacity: .3;
}

.link.active {
  stroke: red;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.node circle.active {
  stroke: red;
  stroke-width: 3px;
}

#info {
    top: 36px;
    left: 110px;
    position: absolute;
}

.d3-tip {
	line-height: 1;
	padding: 6px;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	border-radius: 4px;
	font-size: 12px;
}