#cubedata {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100%;
    height: 90%;
}

#peaktable {
    position: relative;
    top: 0px;
    width: 100%;
}

#chartdiv {
    position: relative;
	top: 30px;
	left: 0px;
	width:93%;
	height: 40%;
	margin-bottom: 20px;
	float: left;
}

canvas.cubechart {
	 width: 100%;
	 height: 20%;
}