canvas,
svg {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.fps {
  float: right;
  display: block;
  height: 30px;
  padding-right: 10px;
  line-height: 30px;
  font-size: 10px;
}

[data-switch] {
  margin: 0;
  padding: 0 0px;
  line-height: 30px;
  height: 30px;
  width: 960px;
}

[data-switch] [data-value] {
  font-size: 10px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  line-height: 18px;
  margin: 3px;
  margin-right: 0;
  vertical-align: top;
  cursor: pointer;
  background: #eee;
  border: 1px solid #ccc;
  color: black;
}

[data-switch] [data-value]:hover {
  background: #2196f3;
  color: #fff;
  border: 1px solid #1e88e5;
}

[data-switch] [data-value].active {
  background: #1565c0;
  color: #fff;
  border: 1px solid #0d47a1;
}

.initializing,
.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 220px;
  text-align: center;
  font-size: 20px;
  background: rgba(192, 192, 192, 0.8);
  color: #555;
}

.initializing p,
.loading p {
  font-size: 10px;
  line-height: 20px;
  height: 20px;
}

 .fps {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 0;
    font-size: 15px;
  }

  .sliders {
    position: absolute;
    left: 10px;
    width: 220px;
    top: 45px;
  }

  .sliders label {
    display: block;
  }

  .sliders input {
    display: block;
    width: 100%;
  }
  
  input[type=checkbox] {
    visibility: visible;
    position: relative;
}

#settings {
    left: 10px;
    position: absolute;
    top: 220px;
}