#textualtree {
	position:absolute;
	top: 40px;
	left: 10px;
	display:block;
}

#buttons {
	position: absolute;
	top: 10px;
	left: 50px;
	z-index: 9999;
}

#graphview {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 9999;
}

.activeTree {
	font-size: 12pt; 
	color: #000000; 
	cursor: pointer; 
	text-decoration:none;
	font-weight:bold
}

.inactiveTree {
	font-size: 12pt; 
	color: #000000; 
	cursor: pointer; 
	text-decoration:none;
	font-weight:normal
}

.homeLink {
	font-size: 12pt; 
	color: #000000; 
	cursor: pointer; 
	text-decoration:none;
}
