#vistree {
	position:absolute;
	top: 40px;
	left: 10px;
	font-family: Menlo, Consolas, monospace;
	color: #444;
	height: 100%;
	width:100%;
}

#tools {
	width: 335px;
	top: 50px;
	left: 5px;
}

#buttons {
	position: absolute;
	top: 10px;
	left: 50px;
	z-index: 9999;
}

.item {
 	cursor: pointer;
}

.bold {
	font-weight: bold;
}

ul {
	padding-left: 1em;
	line-height: 1.5em;
	list-style-type: dot;
}

#mynetwork {
   	width: 100%;
   	height: 100%;
}

#visexport {
	position: absolute;
	top: 40px;
	right: 10px;
	z-index: 9999;
	background: #ffffff;
}

#canvasImg {
	background: #ffffff;
}
