#vuetree {
	position:absolute;
	top: 40px;
	left: 10px;
	display:block;
	font-family: Menlo, Consolas, monospace;
	color: #444;
}

.item {
 	cursor: pointer;
}
.bold {
	font-weight: bold;
}
ul {
	padding-left: 1em;
	line-height: 1.5em;
	list-style-type: dot;
}
span.nodelabel {
    font-weight: bold;
}
span.literallabel {
    color: #9598b9;
}
span.literalpart {
    color: #9598b9;
    font-style: italic;
}
span.relationlabel {
    color: #6375FF;
}
span.relationpart {
    color: #6375FF;
}
span.objectpart {
    color: #000000;
    font-weight:bold;
}
span.inverserelationlabel {
    color: #da63ff;
}
