.yasr .svgImg {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row
}

.yasr .svgImg svg {
	max-width: 100%;
	max-height: 100%;
	width: 15px;
	height: 15px;
	align-self: center
}

.yasr .yasr_btn.yasr_external_ref_btn {
	font-weight: 600;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.yasr .yasr_btn.yasr_external_ref_btn:active, .yasr .yasr_btn.yasr_external_ref_btn:focus
	{
	color: inherit;
	-webkit-text-decoration-color: inherit;
	text-decoration-color: inherit
}

.yasr .yasr_btn.yasr_external_ref_btn .svgImg svg {
	width: 18px;
	height: 18px
}

.yasr a {
	color: #428bca;
	text-decoration: none
}

.yasr a:active, .yasr a:hover {
	outline: 0;
	color: #2a6496;
	text-decoration: underline
}

.yasr .yasr_btnGroup {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden
}

.yasr .yasr_btnGroup .plugin_icon {
	height: 15px;
	width: 15px;
	margin-right: 5px;
	text-align: center
}

.yasr .yasr_btnGroup .yasr_btn {
	border-bottom: 2px solid transparent;
	padding-left: 6px;
	padding-right: 6px;
	margin-left: 6px;
	margin-right: 6px
}

.yasr .yasr_btnGroup .yasr_btn.selected {
	border-bottom: 2px solid #337ab7
}

@media ( max-width :768px) {
	.yasr .yasr_btn span {
		display: none
	}
	.yasr .yasr_btn .plugin_icon {
		margin-right: 0
	}
}

.yasr .yasr_header {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap
}

.yasr .yasr_fallback_info:not (:empty ){
	margin-top: 5px;
	border: 1px solid #d1d1d1;
	padding: .5rem;
	background: #f7f7f7
}

.yasr .yasr_fallback_info:not (:empty ) p {
	margin: 0
}

.yasr .yasr_help_variable {
	background: #dff0ff;
	color: #428bca
}

.yasr .yasr_response_chip {
	color: #505050;
	background: #f5f5f5;
	border-radius: 6px;
	display: -webkit-box;
	display: flex;
	font-size: 11pt;
	max-height: 16pt;
	align-self: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	white-space: nowrap;
	padding: 6px;
	margin-left: 5px;
	overflow: visible;
	box-sizing: border-box
}

.yasr .yasr_response_chip.empty {
	display: none
}

.yasr .yasr_btn, .yasr .yasr_plugin_control {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center
}

.yasr .yasr_btn {
	color: #505050;
	fill: #505050;
	-webkit-box-pack: center;
	justify-content: center;
	cursor: pointer;
	white-space: nowrap;
	padding: 6px 12px;
	overflow: visible;
	box-sizing: border-box
}

.yasr .yasr_btn.btn_icon {
	padding: 4px 8px
}

.yasr .yasr_btn.disabled, .yasr .yasr_btn[disabled] {
	cursor: default;
	opacity: .5;
	box-shadow: none
}

.yasr .yasr_btn:not (.disabled ):hover {
	fill: #000;
	color: #000
}

.yasr .yasr_btn.selected, .yasr .yasr_btn:focus {
	color: #337ab7;
	fill: #337ab7
}

.yasr .space_element {
	-webkit-box-flex: 1;
	flex-grow: 1;
	min-width: 10px
}

.yasr .tableControls {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	padding: 0 5px 0 0;
	flex-wrap: wrap
}

.yasr .tableControls .tableFilter {
	margin-right: 10px;
	height: 100%
}

.yasr .tableControls .tableSizer {
	height: 100%
}

.yasr .dataTables_wrapper .dataTable {
	min-width: 100%;
	border: 1px solid #d9d9d9
}

.yasr .dataTables_wrapper .dataTable.no-footer {
	border-bottom: 1px solid #d9d9d9
}

.yasr .dataTables_wrapper .dataTable thead .sorting {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAkElEQVQoz7XQMQ5AQBCF4dWQSJxC5wwax1Cq1e7BAdxD5SL+Tq/QCM1oNiJidwox0355mXnG/DrEtIQ6azioNZQxI0ykPhTQIwhCR+BmBYtlK7kLJYwWCcJA9M4qdrZrd8pPjZWPtOqdRQy320YSV17OatFC4euts6z39GYMKRPCTKY9UnPQ6P+GtMRfGtPnBCiqhAeJPmkqAAAAAElFTkSuQmCC")
}

.yasr .dataTables_wrapper .dataTable thead .sorting_asc {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZ0lEQVQ4y2NgGLKgquEuFxBPAGI2ahhWCsS/gDibUoO0gPgxEP8H4ttArEyuQYxAPBdqEAxPBImTY5gjEL9DM+wTENuQahAvEO9DMwiGdwAxOymGJQLxTyD+jgWDxCMZRsEoGAVoAADeemwtPcZI2wAAAABJRU5ErkJggg==")
}

.yasr .dataTables_wrapper .dataTable thead .sorting_desc {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAZUlEQVQ4y2NgGAWjYBSggaqGu5FA/BOIv2PBIPFEUgxjB+IdQPwfC94HxLykus4GiD+hGfQOiB3J8SojEE9EM2wuSJzcsFMG4ttQgx4DsRalkZENxL+AuJQaMcsGxBOAmGvopk8AVz1sLZgg0bsAAAAASUVORK5CYII=")
}

.yasr .dataTables_wrapper .dataTable thead .sorting_asc_disabled {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAW0lEQVQoz2NgoCm4w3Vnwh02wspK7/y6k01Ikdadx3f+37l9RxmfIsY7c4GKQHDiHUbcyhzvvIMq+3THBpci3jv7oIpAcMcdduzKEu/8vPMdDn/eiWQYBYMKAAC3ykIEuYQJUgAAAABJRU5ErkJggg==")
}

.yasr .dataTables_wrapper .dataTable thead .sorting_desc_disabled {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAQAAADYWf5HAAAAWUlEQVQoz2NgGAWDCtyJvPPzznc4/HknEbsy9js77vyHw313eHGZZ3PnE1TRuzuOuK1lvDMRqmzuHUZ87lO+cxuo6PEdLUIeyb7z604pYf+y3Zlwh4u2YQoAc7ZCBHH4jigAAAAASUVORK5CYII=")
}

.yasr .dataTables_wrapper .dataTable tr:nth-child(2n) {
	background-color: #f9f9f9
}

.yasr .dataTables_wrapper .dataTable thead tr th {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-right: 1px dotted grey;
	font-weight: 400;
	overflow: hidden;
	border-bottom: none;
	padding: 8px 16px 8px 10px
}

.yasr .dataTables_wrapper .dataTable thead tr th:last-child {
	border-right: none
}

.yasr .dataTables_wrapper .dataTable td {
	border-top: 1px solid #ddd
}

.yasr .dataTables_wrapper .dataTable td>div {
	padding: 5px 5px 5px 7px;
	word-break: break-all;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

.yasr .dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button
	{
	border: none;
	background: transparent
}

.yasr .dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button .disabled
	{
	color: #505050
}

.yasr .dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button.current
	{
	border: none;
	background: transparent;
	text-decoration: underline !important
}

.yasr .dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button:hover
	{
	border: none;
	background: transparent
}

.yasr .dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button:hover:not
	(.disabled ){
	color: #000 !important
}

.yasr .dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button:active
	{
	box-shadow: none
}

table.dataTable {
	width: 100%;
	margin: 0 auto;
	clear: both;
	border-collapse: separate;
	border-spacing: 0
}

table.dataTable tfoot th, table.dataTable thead th {
	font-weight: 700
}

table.dataTable thead td, table.dataTable thead th {
	padding: 10px 18px;
	border-bottom: 1px solid #111
}

table.dataTable thead td:active, table.dataTable thead th:active {
	outline: none
}

table.dataTable tfoot td, table.dataTable tfoot th {
	padding: 10px 18px 6px;
	border-top: 1px solid #111
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc,
	table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
	background-repeat: no-repeat;
	background-position: 100%
}

table.dataTable tbody tr {
	background-color: #fff
}

table.dataTable tbody tr.selected {
	background-color: #b0bed9
}

table.dataTable tbody td, table.dataTable tbody th {
	padding: 8px 10px
}

table.dataTable.display tbody td, table.dataTable.display tbody th,
	table.dataTable.row-border tbody td, table.dataTable.row-border tbody th
	{
	border-top: 1px solid #ddd
}

table.dataTable.display tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
	table.dataTable.row-border tbody tr:first-child td, table.dataTable.row-border tbody tr:first-child th
	{
	border-top: none
}

table.dataTable.cell-border tbody td, table.dataTable.cell-border tbody th
	{
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd
}

table.dataTable.cell-border tbody tr td:first-child, table.dataTable.cell-border tbody tr th:first-child
	{
	border-left: 1px solid #ddd
}

table.dataTable.cell-border tbody tr:first-child td, table.dataTable.cell-border tbody tr:first-child th
	{
	border-top: none
}

table.dataTable.display tbody tr.odd, table.dataTable.stripe tbody tr.odd
	{
	background-color: #f9f9f9
}

table.dataTable.display tbody tr.odd.selected, table.dataTable.stripe tbody tr.odd.selected
	{
	background-color: #abb9d3
}

table.dataTable.display tbody tr:hover, table.dataTable.hover tbody tr:hover
	{
	background-color: #f5f5f5
}

table.dataTable.display tbody tr:hover.selected, table.dataTable.hover tbody tr:hover.selected
	{
	background-color: #a9b7d1
}

table.dataTable.display tbody tr>.sorting_1, table.dataTable.display tbody tr>.sorting_2,
	table.dataTable.display tbody tr>.sorting_3, table.dataTable.order-column tbody tr>.sorting_1,
	table.dataTable.order-column tbody tr>.sorting_2, table.dataTable.order-column tbody tr>.sorting_3
	{
	background-color: #f9f9f9
}

table.dataTable.display tbody tr.selected>.sorting_1, table.dataTable.display tbody tr.selected>.sorting_2,
	table.dataTable.display tbody tr.selected>.sorting_3, table.dataTable.order-column tbody tr.selected>.sorting_1,
	table.dataTable.order-column tbody tr.selected>.sorting_2, table.dataTable.order-column tbody tr.selected>.sorting_3
	{
	background-color: #acbad4
}

table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1
	{
	background-color: #f1f1f1
}

table.dataTable.display tbody tr.odd>.sorting_2, table.dataTable.order-column.stripe tbody tr.odd>.sorting_2
	{
	background-color: #f3f3f3
}

table.dataTable.display tbody tr.odd>.sorting_3, table.dataTable.order-column.stripe tbody tr.odd>.sorting_3
	{
	background-color: #f5f5f5
}

table.dataTable.display tbody tr.odd.selected>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1
	{
	background-color: #a6b3cd
}

table.dataTable.display tbody tr.odd.selected>.sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2
	{
	background-color: #a7b5ce
}

table.dataTable.display tbody tr.odd.selected>.sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3
	{
	background-color: #a9b6d0
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1
	{
	background-color: #f9f9f9
}

table.dataTable.display tbody tr.even>.sorting_2, table.dataTable.order-column.stripe tbody tr.even>.sorting_2
	{
	background-color: #fbfbfb
}

table.dataTable.display tbody tr.even>.sorting_3, table.dataTable.order-column.stripe tbody tr.even>.sorting_3
	{
	background-color: #fdfdfd
}

table.dataTable.display tbody tr.even.selected>.sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1
	{
	background-color: #acbad4
}

table.dataTable.display tbody tr.even.selected>.sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2
	{
	background-color: #adbbd6
}

table.dataTable.display tbody tr.even.selected>.sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_3
	{
	background-color: #afbdd8
}

table.dataTable.display tbody tr:hover>.sorting_1, table.dataTable.order-column.hover tbody tr:hover>.sorting_1
	{
	background-color: #eaeaea
}

table.dataTable.display tbody tr:hover>.sorting_2, table.dataTable.order-column.hover tbody tr:hover>.sorting_2
	{
	background-color: #ebebeb
}

table.dataTable.display tbody tr:hover>.sorting_3, table.dataTable.order-column.hover tbody tr:hover>.sorting_3
	{
	background-color: #eee
}

table.dataTable.display tbody tr:hover.selected>.sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1
	{
	background-color: #a1aec7
}

table.dataTable.display tbody tr:hover.selected>.sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2
	{
	background-color: #a2afc8
}

table.dataTable.display tbody tr:hover.selected>.sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3
	{
	background-color: #a4b2cb
}

table.dataTable.no-footer {
	border-bottom: 1px solid #111
}

table.dataTable.nowrap td, table.dataTable.nowrap th {
	white-space: nowrap
}

table.dataTable.compact thead td, table.dataTable.compact thead th {
	padding: 4px 17px 4px 4px
}

table.dataTable.compact tbody td, table.dataTable.compact tbody th,
	table.dataTable.compact tfoot td, table.dataTable.compact tfoot th {
	padding: 4px
}

table.dataTable td.dt-left, table.dataTable th.dt-left {
	text-align: left
}

table.dataTable td.dataTables_empty, table.dataTable td.dt-center, table.dataTable th.dt-center
	{
	text-align: center
}

table.dataTable td.dt-right, table.dataTable th.dt-right {
	text-align: right
}

table.dataTable td.dt-justify, table.dataTable th.dt-justify {
	text-align: justify
}

table.dataTable td.dt-nowrap, table.dataTable th.dt-nowrap {
	white-space: nowrap
}

table.dataTable tfoot td.dt-head-left, table.dataTable tfoot th.dt-head-left,
	table.dataTable thead td.dt-head-left, table.dataTable thead th.dt-head-left
	{
	text-align: left
}

table.dataTable tfoot td.dt-head-center, table.dataTable tfoot th.dt-head-center,
	table.dataTable thead td.dt-head-center, table.dataTable thead th.dt-head-center
	{
	text-align: center
}

table.dataTable tfoot td.dt-head-right, table.dataTable tfoot th.dt-head-right,
	table.dataTable thead td.dt-head-right, table.dataTable thead th.dt-head-right
	{
	text-align: right
}

table.dataTable tfoot td.dt-head-justify, table.dataTable tfoot th.dt-head-justify,
	table.dataTable thead td.dt-head-justify, table.dataTable thead th.dt-head-justify
	{
	text-align: justify
}

table.dataTable tfoot td.dt-head-nowrap, table.dataTable tfoot th.dt-head-nowrap,
	table.dataTable thead td.dt-head-nowrap, table.dataTable thead th.dt-head-nowrap
	{
	white-space: nowrap
}

table.dataTable tbody td.dt-body-left, table.dataTable tbody th.dt-body-left
	{
	text-align: left
}

table.dataTable tbody td.dt-body-center, table.dataTable tbody th.dt-body-center
	{
	text-align: center
}

table.dataTable tbody td.dt-body-right, table.dataTable tbody th.dt-body-right
	{
	text-align: right
}

table.dataTable tbody td.dt-body-justify, table.dataTable tbody th.dt-body-justify
	{
	text-align: justify
}

table.dataTable tbody td.dt-body-nowrap, table.dataTable tbody th.dt-body-nowrap
	{
	white-space: nowrap
}

table.dataTable, table.dataTable td, table.dataTable th {
	box-sizing: content-box
}

.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
	zoom: 1
}

.dataTables_wrapper .dataTables_length {
	float: left
}

.dataTables_wrapper .dataTables_filter {
	float: right;
	text-align: right
}

.dataTables_wrapper .dataTables_filter input {
	margin-left: .5em
}

.dataTables_wrapper .dataTables_info {
	clear: both;
	float: left;
	padding-top: .755em
}

.dataTables_wrapper .dataTables_paginate {
	float: right;
	text-align: right;
	padding-top: .25em
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	box-sizing: border-box;
	display: inline-block;
	min-width: 1.5em;
	padding: .5em 1em;
	margin-left: 2px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	*cursor: hand;
	color: #333 !important;
	border: 1px solid transparent;
	border-radius: 2px
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
	{
	color: #333 !important;
	border: 1px solid #979797;
	background-color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff),
		color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #fff, #dcdcdc);
	background: -moz-linear-gradient(top, #fff 0, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #fff 0, #dcdcdc 100%);
	background: -o-linear-gradient(top, #fff 0, #dcdcdc 100%);
	background: linear-gradient(180deg, #fff 0, #dcdcdc)
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover
	{
	cursor: default;
	color: #666 !important;
	border: 1px solid transparent;
	background: transparent;
	box-shadow: none
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #fff !important;
	border: 1px solid #111;
	background-color: #585858;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #585858),
		color-stop(100%, #111));
	background: -webkit-linear-gradient(top, #585858, #111);
	background: -moz-linear-gradient(top, #585858 0, #111 100%);
	background: -ms-linear-gradient(top, #585858 0, #111 100%);
	background: -o-linear-gradient(top, #585858 0, #111 100%);
	background: linear-gradient(180deg, #585858 0, #111)
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
	outline: none;
	background-color: #2b2b2b;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2b2b2b),
		color-stop(100%, #0c0c0c));
	background: -webkit-linear-gradient(top, #2b2b2b, #0c0c0c);
	background: -moz-linear-gradient(top, #2b2b2b 0, #0c0c0c 100%);
	background: -ms-linear-gradient(top, #2b2b2b 0, #0c0c0c 100%);
	background: -o-linear-gradient(top, #2b2b2b 0, #0c0c0c 100%);
	background: linear-gradient(180deg, #2b2b2b 0, #0c0c0c);
	box-shadow: inset 0 0 3px #111
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
	padding: 0 1em
}

.dataTables_wrapper .dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 40px;
	margin-left: -50%;
	margin-top: -25px;
	padding-top: 20px;
	text-align: center;
	font-size: 1.2em;
	background-color: #fff;
	background: -webkit-gradient(linear, left top, right top, color-stop(0, hsla(0, 0%,
		100%, 0)), color-stop(25%, hsla(0, 0%, 100%, .9)),
		color-stop(75%, hsla(0, 0%, 100%, .9)),
		color-stop(100%, hsla(0, 0%, 100%, 0)));
	background: -webkit-linear-gradient(left, hsla(0, 0%, 100%, 0),
		hsla(0, 0%, 100%, .9) 25%, hsla(0, 0%, 100%, .9) 75%,
		hsla(0, 0%, 100%, 0));
	background: -moz-linear-gradient(left, hsla(0, 0%, 100%, 0) 0,
		hsla(0, 0%, 100%, .9) 25%, hsla(0, 0%, 100%, .9) 75%,
		hsla(0, 0%, 100%, 0) 100%);
	background: -ms-linear-gradient(left, hsla(0, 0%, 100%, 0) 0,
		hsla(0, 0%, 100%, .9) 25%, hsla(0, 0%, 100%, .9) 75%,
		hsla(0, 0%, 100%, 0) 100%);
	background: -o-linear-gradient(left, hsla(0, 0%, 100%, 0) 0,
		hsla(0, 0%, 100%, .9) 25%, hsla(0, 0%, 100%, .9) 75%,
		hsla(0, 0%, 100%, 0) 100%);
	background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0,
		hsla(0, 0%, 100%, .9) 25%, hsla(0, 0%, 100%, .9) 75%,
		hsla(0, 0%, 100%, 0))
}

.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info,
	.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_paginate,
	.dataTables_wrapper .dataTables_processing {
	color: #333
}

.dataTables_wrapper .dataTables_scroll {
	clear: both
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th
	{
	vertical-align: middle
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td>div.dataTables_sizing,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th>div.dataTables_sizing,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td>div.dataTables_sizing,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th>div.dataTables_sizing
	{
	height: 0;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 1px solid #111
}

.dataTables_wrapper.no-footer div.dataTables_scrollBody>table,
	.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable
	{
	border-bottom: none
}

.dataTables_wrapper:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0
}

@media screen and (max-width:767px) {
	.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate
		{
		float: none;
		text-align: center
	}
	.dataTables_wrapper .dataTables_paginate {
		margin-top: .5em
	}
}

@media screen and (max-width:640px) {
	.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_length
		{
		float: none;
		text-align: center
	}
	.dataTables_wrapper .dataTables_filter {
		margin-top: .5em
	}
}

.yasr .booleanResult {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center
}

.yasr .booleanResult svg {
	margin-bottom: -10px;
	margin-right: 7px
}

.yasr .yasr_results {
	position: relative
}

.yasr .yasr_results .CodeMirror {
	border: 1px solid #d1d1d1;
	margin-top: 5px;
	height: 100%
}

.yasr .yasr_results .CodeMirror.overflow:before {
	background: -webkit-gradient(linear, left top, left bottom, from(transparent),
		color-stop(75%, hsla(0, 0%, 100%, .666667)), to(#fff));
	background: linear-gradient(transparent, hsla(0, 0%, 100%, .666667) 75%,
		#fff);
	content: "";
	width: 100%;
	height: 100%;
	z-index: 1200;
	position: absolute;
	pointer-events: none
}

.yasr .yasr_results .overlay {
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 1201;
	display: -webkit-box;
	display: flex;
	pointer-events: none
}

.yasr .yasr_results .overlay:after, .yasr .yasr_results .overlay:before
	{
	content: "";
	-webkit-box-flex: 1;
	flex-grow: 1
}

.yasr .yasr_results .overlay_content {
	display: -webkit-box;
	display: flex;
	align-content: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	background: #fff;
	pointer-events: all;
	background: -webkit-gradient(linear, left top, right top, from(transparent),
		color-stop(5%, #fff), color-stop(95%, #fff), to(transparent));
	background: linear-gradient(90deg, transparent, #fff 5%, #fff 95%, transparent)
}

.yasr .yasr_results .yasr_btn.overlay_btn {
	border: 1px solid #337ab7;
	background: #fff;
	color: #337ab7;
	padding: 10px;
	margin: 10px
}

.yasr .yasr_results .yasr_btn.overlay_btn svg {
	margin-left: .5rem;
	fill: #337ab7;
	color: #337ab7
}

.yasr .yasr_results .yasr_btn.overlay_btn:hover {
	color: #255681;
	border-color: #337ab7;
	fill: #255681
}

.yasr .yasr_results .yasr_btn.overlay_btn:hover svg {
	color: #255681;
	fill: #255681
}

.CodeMirror {
	font-family: monospace;
	height: 300px;
	color: #000;
	direction: ltr
}

.CodeMirror-lines {
	padding: 4px 0
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
	padding: 0 4px
}

.CodeMirror-gutter-filler, .CodeMirror-scrollbar-filler {
	background-color: #fff
}

.CodeMirror-gutters {
	border-right: 1px solid #ddd;
	background-color: #f7f7f7;
	white-space: nowrap
}

.CodeMirror-linenumber {
	padding: 0 3px 0 5px;
	min-width: 20px;
	text-align: right;
	color: #999;
	white-space: nowrap
}

.CodeMirror-guttermarker {
	color: #000
}

.CodeMirror-guttermarker-subtle {
	color: #999
}

.CodeMirror-cursor {
	border-left: 1px solid #000;
	border-right: none;
	width: 0
}

.CodeMirror div.CodeMirror-secondarycursor {
	border-left: 1px solid silver
}

.cm-fat-cursor .CodeMirror-cursor {
	width: auto;
	border: 0 !important;
	background: #7e7
}

.cm-fat-cursor div.CodeMirror-cursors {
	z-index: 1
}

.cm-fat-cursor-mark {
	background-color: rgba(20, 255, 20, .5)
}

.cm-animate-fat-cursor, .cm-fat-cursor-mark {
	-webkit-animation: blink 1.06s steps(1) infinite;
	-moz-animation: blink 1.06s steps(1) infinite;
	animation: blink 1.06s steps(1) infinite
}

.cm-animate-fat-cursor {
	width: auto;
	border: 0;
	background-color: #7e7
}

@
-moz-keyframes blink { 50%{
	background-color: transparent
}

}
@
-webkit-keyframes blink { 50%{
	background-color: transparent
}

}
@
keyframes blink { 50%{
	background-color: transparent
}

}
.cm-tab {
	display: inline-block;
	text-decoration: inherit
}

.CodeMirror-rulers {
	position: absolute;
	left: 0;
	right: 0;
	top: -50px;
	bottom: 0;
	overflow: hidden
}

.CodeMirror-ruler {
	border-left: 1px solid #ccc;
	top: 0;
	bottom: 0;
	position: absolute
}

.cm-s-default .cm-header {
	color: #00f
}

.cm-s-default .cm-quote {
	color: #090
}

.cm-negative {
	color: #d44
}

.cm-positive {
	color: #292
}

.cm-header, .cm-strong {
	font-weight: 700
}

.cm-em {
	font-style: italic
}

.cm-link {
	text-decoration: underline
}

.cm-strikethrough {
	text-decoration: line-through
}

.cm-s-default .cm-keyword {
	color: #708
}

.cm-s-default .cm-atom {
	color: #219
}

.cm-s-default .cm-number {
	color: #164
}

.cm-s-default .cm-def {
	color: #00f
}

.cm-s-default .cm-variable-2 {
	color: #05a
}

.cm-s-default .cm-type, .cm-s-default .cm-variable-3 {
	color: #085
}

.cm-s-default .cm-comment {
	color: #a50
}

.cm-s-default .cm-string {
	color: #a11
}

.cm-s-default .cm-string-2 {
	color: #f50
}

.cm-s-default .cm-meta, .cm-s-default .cm-qualifier {
	color: #555
}

.cm-s-default .cm-builtin {
	color: #30a
}

.cm-s-default .cm-bracket {
	color: #997
}

.cm-s-default .cm-tag {
	color: #170
}

.cm-s-default .cm-attribute {
	color: #00c
}

.cm-s-default .cm-hr {
	color: #999
}

.cm-s-default .cm-link {
	color: #00c
}

.cm-invalidchar, .cm-s-default .cm-error {
	color: red
}

.CodeMirror-composing {
	border-bottom: 2px solid
}

div.CodeMirror span.CodeMirror-matchingbracket {
	color: #0b0
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
	color: #a22
}

.CodeMirror-matchingtag {
	background: rgba(255, 150, 0, .3)
}

.CodeMirror-activeline-background {
	background: #e8f2ff
}

.CodeMirror {
	position: relative;
	overflow: hidden;
	background: #fff
}

.CodeMirror-scroll {
	overflow: scroll !important;
	margin-bottom: -30px;
	margin-right: -30px;
	padding-bottom: 30px;
	height: 100%;
	outline: none;
	position: relative
}

.CodeMirror-sizer {
	position: relative;
	border-right: 30px solid transparent
}

.CodeMirror-gutter-filler, .CodeMirror-hscrollbar,
	.CodeMirror-scrollbar-filler, .CodeMirror-vscrollbar {
	position: absolute;
	z-index: 6;
	display: none
}

.CodeMirror-vscrollbar {
	right: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll
}

.CodeMirror-hscrollbar {
	bottom: 0;
	left: 0;
	overflow-y: hidden;
	overflow-x: scroll
}

.CodeMirror-scrollbar-filler {
	right: 0;
	bottom: 0
}

.CodeMirror-gutter-filler {
	left: 0;
	bottom: 0
}

.CodeMirror-gutters {
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	z-index: 3
}

.CodeMirror-gutter {
	white-space: normal;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: -30px
}

.CodeMirror-gutter-wrapper {
	position: absolute;
	z-index: 4;
	background: none !important;
	border: none !important
}

.CodeMirror-gutter-background {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 4
}

.CodeMirror-gutter-elt {
	position: absolute;
	cursor: default;
	z-index: 4
}

.CodeMirror-gutter-wrapper ::selection {
	background-color: transparent
}

.CodeMirror-gutter-wrapper ::-moz-selection {
	background-color: transparent
}

.CodeMirror-lines {
	cursor: text;
	min-height: 1px
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border-width: 0;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	white-space: pre;
	word-wrap: normal;
	line-height: inherit;
	color: inherit;
	z-index: 2;
	position: relative;
	overflow: visible;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-variant-ligatures: contextual;
	font-variant-ligatures: contextual
}

.CodeMirror-wrap pre.CodeMirror-line, .CodeMirror-wrap pre.CodeMirror-line-like
	{
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: normal
}

.CodeMirror-linebackground {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0
}

.CodeMirror-linewidget {
	position: relative;
	z-index: 2;
	padding: .1px
}

.CodeMirror-rtl pre {
	direction: rtl
}

.CodeMirror-code {
	outline: none
}

.CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber,
	.CodeMirror-scroll, .CodeMirror-sizer {
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.CodeMirror-measure {
	position: absolute;
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden
}

.CodeMirror-cursor {
	position: absolute;
	pointer-events: none
}

.CodeMirror-measure pre {
	position: static
}

div.CodeMirror-cursors {
	visibility: hidden;
	position: relative;
	z-index: 3
}

.CodeMirror-focused div.CodeMirror-cursors, div.CodeMirror-dragcursors {
	visibility: visible
}

.CodeMirror-selected {
	background: #d9d9d9
}

.CodeMirror-focused .CodeMirror-selected {
	background: #d7d4f0
}

.CodeMirror-crosshair {
	cursor: crosshair
}

.CodeMirror-line::selection, .CodeMirror-line>span::selection,
	.CodeMirror-line>span>span::selection {
	background: #d7d4f0
}

.CodeMirror-line::-moz-selection, .CodeMirror-line>span::-moz-selection,
	.CodeMirror-line>span>span::-moz-selection {
	background: #d7d4f0
}

.cm-searching {
	background-color: #ffa;
	background-color: rgba(255, 255, 0, .4)
}

.cm-force-border {
	padding-right: .1px
}

@media print {
	.CodeMirror div.CodeMirror-cursors {
		visibility: hidden
	}
}

.cm-tab-wrap-hack:after {
	content: ""
}

span.CodeMirror-selectedtext {
	background: none
}

.yasr .errorResult {
	padding: 10px
}

.yasr .errorResult .errorHeader {
	overflow: hidden
}

.yasr .errorResult .errorHeader .yasr_tryQuery {
	float: right;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 3px
}

.yasr .errorResult .errorHeader span.status {
	display: inline-block;
	padding: .35em .5rem;
	font-size: 75%;
	font-weight: 600;
	line-height: 1.35;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
	color: #fff;
	background-color: #dc3545
}

.yasr .errorResult pre {
	display: block;
	padding: 10px;
	margin: 10px 0;
	font-size: 13px;
	line-height: 1.42857;
	word-break: break-all;
	word-wrap: break-word;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px
}

.yasr .errorResult .redOutline {
	color: #a94442;
	background-color: #f2dede;
	margin-top: 10px;
	padding: 5px 1em;
	border: 1px solid #ebccd1;
	border-radius: 4px
}

.yasqe .CodeMirror {
	min-height: 60px
}

.yasqe .svgImg {
	display: inline-block
}

.yasqe span.shortlinkErr {
	font-size: small;
	color: red;
	font-weight: 700;
	float: left
}

.yasqe .CodeMirror-hint {
	max-width: 30em
}

.yasqe .notificationContainer {
	width: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	position: absolute;
	bottom: 0
}

.yasqe .notification {
	z-index: 4;
	padding: 0 5px;
	max-height: 0;
	color: #999;
	background-color: #eee;
	font-size: 90%;
	text-align: center;
	-webkit-transition: max-height .2s ease-in;
	transition: max-height .2s ease-in;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px
}

.yasqe .notification.active {
	max-height: 3rem
}

.yasqe .parseErrorIcon {
	width: 13px;
	height: 13px;
	margin-top: 2px;
	margin-left: 2px
}

.yasqe .parseErrorIcon svg g {
	fill: red
}

.yasqe .yasqe_tooltip {
	background: #333;
	background: rgba(0, 0, 0, .8);
	border-radius: 5px;
	color: #fff;
	padding: 5px 15px;
	width: 220px;
	white-space: pre-wrap;
	white-space: normal;
	margin-top: 5px
}

.yasqe .notificationLoader {
	width: 18px;
	height: 18px;
	vertical-align: middle
}

.yasqe .resizeWrapper {
	width: 100%;
	height: 10px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	cursor: row-resize
}

.yasqe .resizeChip {
	width: 20%;
	height: 4px;
	background-color: #d1d1d1;
	visibility: hidden;
	border-radius: 2px
}

.yasqe:hover .resizeChip {
	visibility: visible
}

.yasqe .yasqe_btn {
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	padding: 6px 12px;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: visible;
	box-sizing: border-box
}

.yasqe .yasqe_btn.btn_icon {
	padding: 4px 8px
}

.yasqe .yasqe_btn.disabled, .yasqe .yasqe_btn[disabled] {
	cursor: default;
	opacity: .5;
	filter: alpha(opacity = 50);
	box-shadow: none
}

.yasqe .yasqe_btn:hover {
	outline: 0;
	background-color: #ebebeb;
	border-color: #adadad
}

.yasqe .yasqe_btn.selected, .yasqe .yasqe_btn:focus {
	color: #fff;
	outline: 0;
	background-color: #337ab7;
	border-color: #337ab7
}

.yasqe .yasqe_btn.btn_icon:focus {
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc
}

.yasqe .yasqe_btn.yasqe_btn-sm {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.yasqe .yasqe_buttons {
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 5
}

.yasqe .yasqe_buttons svg {
	fill: #505050
}

.yasqe .yasqe_buttons .yasqe_share {
	cursor: pointer;
	height: 25px;
	width: 25px;
	margin-top: 3px;
	display: inline-block
}

.yasqe .yasqe_buttons div {
	vertical-align: top;
	margin-left: 5px
}

.yasqe .yasqe_buttons div.yasqe_sharePopup {
	position: absolute;
	padding: 4px;
	margin-left: 0;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	width: 600px;
	height: auto;
	display: -webkit-box;
	display: flex
}

.yasqe .yasqe_buttons div.yasqe_sharePopup .inputWrapper {
	-webkit-box-flex: 100;
	flex-grow: 100
}

.yasqe .yasqe_buttons div.yasqe_sharePopup input {
	float: left;
	width: 100%;
	border: 0;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	box-sizing: border-box
}

.yasqe .yasqe_buttons div.yasqe_sharePopup button {
	float: right;
	margin-left: 5px
}

.yasqe .yasqe_buttons div.yasqe_sharePopup textarea {
	width: 100%
}

.yasqe .yasqe_buttons .yasqe_queryButton {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin-left: 10px
}

.yasqe .yasqe_buttons .yasqe_queryButton div {
	margin-left: 0
}

.yasqe .yasqe_buttons .yasqe_queryButton .svgImg {
	position: absolute;
	height: inherit
}

.yasqe .yasqe_buttons .yasqe_queryButton .queryIcon {
	display: block
}

.yasqe .yasqe_buttons .yasqe_queryButton .queryIcon svg {
	width: 40px;
	height: 40px
}

.yasqe .yasqe_buttons .yasqe_queryButton.busy svg #loadingIcon {
	stroke-dasharray: 100;
	-webkit-animation: dash 1.5s linear infinite;
	animation: dash 1.5s linear infinite;
	stroke-width: 8px;
	stroke: #fff
}

@
-webkit-keyframes dash {
	to {stroke-dashoffset: 200
}

}
@
keyframes dash {
	to {stroke-dashoffset: 200
}

}
@
-webkit-keyframes rotate {
	to {-webkit-transform: rotate(1turn);
	transform: rotate(1turn)
}

}
@
keyframes rotate {
	to {-webkit-transform: rotate(1turn);
	transform: rotate(1turn)
}

}
.yasqe .yasqe_buttons .yasqe_queryButton .warningIcon {
	display: none
}

.yasqe .yasqe_buttons .yasqe_queryButton.query_error .warningIcon {
	display: block;
	bottom: -5px;
	right: 0
}

.yasqe .yasqe_buttons .yasqe_queryButton.query_error .warningIcon svg {
	width: 15px;
	height: 15px
}

.yasqe .yasqe_buttons .yasqe_queryButton.query_error .warningIcon svg g
	{
	fill: red
}

.yasqe .yasqe_buttons .yasqe_queryButton.query_disabled {
	cursor: not-allowed
}

.yasqe .yasqe_buttons .yasqe_queryButton.query_disabled .queryIcon {
	opacity: .5;
	filter: alpha(opacity = 50)
}

@
-webkit-keyframes spin {
	to {-webkit-transform: rotate(1turn);
	transform: rotate(1turn)
}

}
.yasqe .yasqe_buttons .yasqe_queryButton .busyIcon {
	top: 7px;
	left: 2px;
	position: absolute;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 3.2px solid #505050;
	border-top-color: #fff;
	-webkit-animation: spin 1s ease-in-out infinite;
	animation: spin 1s ease-in-out infinite
}

.CodeMirror-hints {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 2px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
	border-radius: 3px;
	border: 1px solid silver;
	background: #fff;
	font-size: 90%;
	font-family: monospace;
	max-height: 20em;
	overflow-y: auto
}

.CodeMirror-hint {
	margin: 0;
	padding: 0 4px;
	border-radius: 2px;
	white-space: pre;
	color: #000;
	cursor: pointer
}

li.CodeMirror-hint-active {
	background: #08f;
	color: #fff
}

.CodeMirror-foldmarker {
	color: #00f;
	text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px,
		#b9f -1px 1px 2px;
	font-family: arial;
	line-height: .3;
	cursor: pointer
}

.CodeMirror-foldgutter {
	width: .7em
}

.CodeMirror-foldgutter-folded, .CodeMirror-foldgutter-open {
	cursor: pointer
}

.CodeMirror-foldgutter-open:after {
	content: "\25BE"
}

.CodeMirror-foldgutter-folded:after {
	content: "\25B8"
}

.yasqe .CodeMirror {
	line-height: 1.5em;
	font-size: 14px;
	border: 1px solid #d1d1d1
}

.yasqe span.cm-error {
	border-bottom: 2px dotted red
}

.yasqe .gutterErrorBar {
	width: 4px
}

.yasqe .CodeMirror-foldmarker {
	color: #6e2500;
	text-shadow: #ff935e 1px 1px 2px, #ff935e -1px -1px 2px, #ff935e 1px
		-1px 2px, #ff935e -1px 1px 2px;
	font-size: 19px
}

.yasqe .cm-matchhighlight {
	background-color: #dbdeed
}

.yasgui .tabMenu {
	background: #f5f5f5;
	z-index: 7;
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
	transform: translate3d(-100%, 0, 0) rotateY(90deg);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	visibility: hidden;
	width: 600px;
	border: 1px solid #ccc;
	position: absolute;
	top: 35px;
	left: 0;
	-webkit-perspective: 1500px;
	perspective: 1500px;
	-webkit-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d
}

.yasgui .tabMenu, .yasgui .tabMenu.open {
	-webkit-transition: all .5s;
	transition: all .5s
}

.yasgui .tabMenu.open {
	visibility: visible;
	-webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);
	transform: translate3d(-100%, 0, 0) rotateY(0deg);
	left: 600px
}

@media ( -ms-high-contrast :active) , ( -ms-high-contrast :none) {
	.yasgui .tabMenu.open {
		min-width: 600px
	}
}

@media ( -ms-high-contrast :active) , ( -ms-high-contrast :none) {
	.yasgui .tabMenu {
		height: 0
	}
}

.yasgui .tabMenu .requestConfigWrapper {
	padding: 10px;
	overflow: hidden;
	display: -webkit-box;
	display: flex;
	flex-wrap: nowrap;
	background: #f5f5f5
}

.yasgui .tabMenu .requestConfigWrapper .selectorButton {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #d1d1d1;
	height: 30px;
	color: #505050;
	cursor: pointer
}

.yasgui .tabMenu .requestConfigWrapper .selectorButton:hover {
	color: #000;
	border-color: #000
}

.yasgui .tabMenu .requestConfigWrapper .selectorButton.selected {
	color: #337ab7;
	border-bottom: 2px solid #337ab7
}

.yasgui .tabMenu .requestConfigWrapper .selectorButton:focus {
	outline: none
}

.yasgui .tabMenu .acceptWrapper {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row
}

.yasgui .tabMenu .acceptWrapper .acceptLabel {
	justify-self: center
}

.yasgui .tabMenu .acceptWrapper .selector {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	display: -webkit-box;
	display: flex;
	padding: 2.5px 5px;
	-webkit-box-flex: 1;
	flex-grow: 1;
	width: 100%
}

.yasgui .tabMenu .acceptWrapper .selector .selectorLabel {
	align-self: center;
	font-weight: 700;
	font-size: small
}

.yasgui .tabMenu .textSetting {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column
}

.yasgui .tabMenu .textSetting .label {
	align-self: flex-start
}

.yasgui .tabMenu .textSetting .graphInput {
	white-space: nowrap
}

.yasgui .tabMenu .textSetting .textRow {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: nowrap;
	white-space: nowrap
}

.yasgui .tabMenu .textSetting .removeButton {
	border: none;
	background: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.yasgui .tabMenu .textSetting .removeButton:hover {
	background: transparent;
	border-color: #000;
	color: #000;
	cursor: pointer
}

.yasgui .tabMenu .label {
	-webkit-text-decoration: #000;
	text-decoration: #000;
	font-weight: 700;
	white-space: nowrap;
	padding-right: 5px;
	align-self: center
}

.yasgui .autocomplete {
	padding: 3px 6px;
	margin: 4px 0;
	border: 2px solid #ccc;
	width: 100%;
	box-sizing: border-box;
	-webkit-transition: border-color .2s ease-in;
	transition: border-color .2s ease-in
}

.yasgui .autocomplete:hover {
	border-color: #bbb
}

.yasgui .autocomplete:focus {
	border-color: #337ab7;
	background: none;
	outline: none
}

.yasgui .autocompleteWrapper {
	width: 100%;
	max-width: 700px;
	margin-left: 10px;
	position: relative
}

.yasgui .autocompleteList {
	position: absolute;
	max-height: 300px;
	overflow-y: auto;
	z-index: 6;
	margin: -4px 0 0;
	padding: 0;
	list-style: none;
	background: #fff;
	border: 1px solid #aaa;
	box-sizing: border-box;
	left: 0;
	right: 0
}

.yasgui .autocompleteList:hover .autoComplete_result.autoComplete_selected:not
	(:hover ){
	background: unset
}

.yasgui .autocompleteList:hover .autoComplete_result.autoComplete_selected:not
	(:hover ) .removeItem {
	visibility: hidden
}

.yasgui .autocompleteList .autoComplete_result {
	cursor: pointer;
	padding: 5px 10px;
	margin: 0;
	overflow: hidden;
	display: -webkit-box;
	display: flex;
	-webkit-transition: background visibility .2s ease-in;
	transition: background visibility .2s ease-in
}

.yasgui .autocompleteList .autoComplete_result b {
	color: #1f49a3
}

.yasgui .autocompleteList .autoComplete_result .autoComplete_highlighted
	{
	font-weight: 700
}

.yasgui .autocompleteList .autoComplete_result.autoComplete_selected {
	background: #ccc
}

.yasgui .autocompleteList .autoComplete_result.autoComplete_selected .removeItem
	{
	visibility: visible
}

.yasgui .autocompleteList .autoComplete_result:hover {
	background: #ccc
}

.yasgui .autocompleteList .autoComplete_result:hover .removeItem {
	visibility: visible
}

.yasgui .autocompleteList .noResults {
	padding: 5px 10px;
	margin: 0
}

.yasgui .autocompleteList .removeItem {
	color: #000;
	font-size: 15px;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
	font-weight: 700;
	text-align: end;
	margin-left: auto;
	visibility: hidden;
	background: none;
	border: none;
	cursor: pointer;
	margin-right: -10px;
	padding-right: 20px
}

.yasgui .autocompleteList .removeItem:hover {
	opacity: .8;
	color: #1f49a3
}

.yasgui .autocompleteList:empty {
	display: none
}

.yasgui .tabPanel {
	display: none;
	position: relative
}

.yasgui .tabPanel.active {
	display: block
}

.yasgui .yasr {
	margin-top: 5px
}

.yasgui .tabContextButton {
	width: 15px;
	height: 15px;
	max-width: 15px;
	max-height: 15px;
	align-self: center;
	padding-left: 10px;
	cursor: pointer;
	color: #505050;
	fill: #505050
}

.yasgui .tabContextButton .svgImg {
	width: inherit;
	height: inherit
}

.yasgui .tabContextButton svg {
	max-width: 15px;
	max-height: 15px
}

.yasgui .tabContextButton:hover {
	color: #000;
	fill: #000
}

.yasgui .controlbar {
	display: -webkit-box;
	display: flex;
	align-content: center;
	max-height: 35px
}

.yasgui.context-menu {
	position: absolute;
	z-index: 10;
	background: #fff;
	min-width: 160px;
	font-size: 14px;
	border: 1px solid rgba(0, 0, 0, .15);
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box
}

.yasgui.context-menu hr {
	margin: 8px auto;
	border: none;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #fff
}

.yasgui.context-menu .context-menu-list {
	padding: 0
}

.yasgui.context-menu .context-menu-item {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857;
	color: #333;
	white-space: nowrap;
	cursor: pointer
}

.yasgui.context-menu .context-menu-item:hover {
	text-decoration: none;
	color: #000;
	background-color: #f5f5f5
}

.yasgui.context-menu .context-menu-item.disabled {
	text-decoration: none;
	color: grey;
	background-color: #e5e5e5;
	cursor: not-allowed
}

.yasgui .tabsList {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap
}

.yasgui .tabsList .sortable-placeholder {
	min-width: 100px;
	min-height: 35px;
	border: 2px dotted #888
}

.yasgui .tabsList a {
	cursor: pointer;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	min-height: 35px;
	border-bottom: 2px solid transparent;
	box-sizing: border-box
}

.yasgui .tabsList .addTab {
	margin-left: 15px;
	font-size: 120%;
	font-weight: 800;
	padding: 0 5px 2px
}

.yasgui .tabsList .addTab:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.yasgui .tabsList .tab {
	position: relative
}

.yasgui .tabsList .tab .loader {
	display: none;
	background-color: #d5d5d5;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 100%;
	-webkit-animation-name: slide;
	animation-name: slide;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

@
-webkit-keyframes slide { 0%{
	left: 0;
	right: 100%
}

70%{
left
:
0;right
:
0
}
to {
	left: 100%;
	right: 0
}

}
@
keyframes slide { 0%{
	left: 0;
	right: 100%
}

70%{
left
:
0;right
:
0
}
to {
	left: 100%;
	right: 0
}

}
.yasgui .tabsList .tab.active .loader {
	background-color: #9fc4e4
}

.yasgui .tabsList .tab:hover .loader {
	background-color: #337ab7
}

.yasgui .tabsList .tab.querying .loader {
	display: block
}

.yasgui .tabsList .tab.active a {
	border-bottom-color: #337ab7;
	color: #555
}

.yasgui .tabsList .tab input {
	display: none;
	outline: none;
	border: none
}

.yasgui .tabsList .tab.renaming .closeTab, .yasgui .tabsList .tab.renaming span
	{
	display: none
}

.yasgui .tabsList .tab.renaming input {
	display: block
}

.yasgui .tabsList .tab a {
	font-weight: 600;
	color: #888;
	font-size: 15px;
	line-height: 1.5rem;
	font-weight: 500;
	min-width: 120px;
	padding: 0 24px 0 30px;
	white-space: nowrap;
	overflow: hidden
}

.yasgui .tabsList .tab a:hover {
	border-bottom-color: #9fc4e4;
	color: #555
}

.yasgui .tabsList .tab a .closeTab {
	color: #000;
	margin-left: 7px;
	font-size: 15px;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	font-weight: 700;
	padding: 2px
}

.yasgui .tabsList .tab a .closeTab:hover {
	opacity: .5
}

.yasgui a {
	color: #337ab7;
	text-decoration: none
}

.yasgui .yasgui_textfield {
	display: block;
	padding-top: 18.75px;
	position: relative
}

.yasgui .yasgui_textfield>label {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	color: rgba(0, 0, 0, .54);
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.yasgui .yasgui_textfield>input, .yasgui .yasgui_textfield>textarea {
	box-sizing: border-box;
	display: block;
	color: rgba(0, 0, 0, .87);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .26);
	outline: none;
	width: 100%;
	padding: 0;
	box-shadow: none;
	border-radius: 0;
	font-size: 15px;
	font-family: inherit;
	line-height: inherit;
	background-image: none
}

.yasgui .yasgui_textfield>input:focus, .yasgui .yasgui_textfield>textarea:focus
	{
	border-color: #337ab7;
	border-width: 2px
}

.yasgui .yasgui_textfield>input:focus ~label, .yasgui .yasgui_textfield>textarea:focus
	~label{
	color: #337ab7
}

.modal-dialog.google-visualization-charteditor-dialog {
	z-index: 11;
	width: auto;
	margin: inherit
}

.modal-dialog.google-visualization-charteditor-dialog .charts-flat-menu-button
	{
	box-sizing: content-box
}