.yasqe .CodeMirror {
	min-height: 60px
}

.yasqe .svgImg {
	display: inline-block
}

.yasqe span.shortlinkErr {
	font-size: small;
	color: red;
	font-weight: 700;
	float: left
}

.yasqe .CodeMirror-hint {
	max-width: 30em
}

.yasqe .notificationContainer {
	width: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	position: absolute;
	bottom: 0
}

.yasqe .notification {
	z-index: 4;
	padding: 0 5px;
	max-height: 0;
	color: #999;
	background-color: #eee;
	font-size: 90%;
	text-align: center;
	-webkit-transition: max-height .2s ease-in;
	transition: max-height .2s ease-in;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px
}

.yasqe .notification.active {
	max-height: 3rem
}

.yasqe .parseErrorIcon {
	width: 13px;
	height: 13px;
	margin-top: 2px;
	margin-left: 2px
}

.yasqe .parseErrorIcon svg g {
	fill: red
}

.yasqe .yasqe_tooltip {
	background: #333;
	background: rgba(0, 0, 0, .8);
	border-radius: 5px;
	color: #fff;
	padding: 5px 15px;
	width: 220px;
	white-space: pre-wrap;
	white-space: normal;
	margin-top: 5px
}

.yasqe .notificationLoader {
	width: 18px;
	height: 18px;
	vertical-align: middle
}

.yasqe .resizeWrapper {
	width: 100%;
	height: 10px;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	cursor: row-resize
}

.yasqe .resizeChip {
	width: 20%;
	height: 4px;
	background-color: #d1d1d1;
	visibility: hidden;
	border-radius: 2px
}

.yasqe:hover .resizeChip {
	visibility: visible
}

.yasqe .yasqe_btn {
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	padding: 6px 12px;
	border-radius: 2px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: visible;
	box-sizing: border-box
}

.yasqe .yasqe_btn.btn_icon {
	padding: 4px 8px
}

.yasqe .yasqe_btn.disabled, .yasqe .yasqe_btn[disabled] {
	cursor: default;
	opacity: .5;
	filter: alpha(opacity = 50);
	box-shadow: none
}

.yasqe .yasqe_btn:hover {
	outline: 0;
	background-color: #ebebeb;
	border-color: #adadad
}

.yasqe .yasqe_btn.selected, .yasqe .yasqe_btn:focus {
	color: #fff;
	outline: 0;
	background-color: #337ab7;
	border-color: #337ab7
}

.yasqe .yasqe_btn.btn_icon:focus {
	color: #333;
	background-color: #fff;
	border: 1px solid #ccc
}

.yasqe .yasqe_btn.yasqe_btn-sm {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.yasqe .yasqe_buttons {
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 5
}

.yasqe .yasqe_buttons svg {
	fill: #505050
}

.yasqe .yasqe_buttons .yasqe_share {
	cursor: pointer;
	height: 25px;
	width: 25px;
	margin-top: 3px;
	display: inline-block
}

.yasqe .yasqe_buttons div {
	vertical-align: top;
	margin-left: 5px
}

.yasqe .yasqe_buttons div.yasqe_sharePopup {
	position: absolute;
	padding: 4px;
	margin-left: 0;
	background-color: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	width: 600px;
	height: auto;
	display: -webkit-box;
	display: flex
}

.yasqe .yasqe_buttons div.yasqe_sharePopup .inputWrapper {
	-webkit-box-flex: 100;
	flex-grow: 100
}

.yasqe .yasqe_buttons div.yasqe_sharePopup input {
	float: left;
	width: 100%;
	border: 0;
	-ms-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	box-sizing: border-box
}

.yasqe .yasqe_buttons div.yasqe_sharePopup button {
	float: right;
	margin-left: 5px
}

.yasqe .yasqe_buttons div.yasqe_sharePopup textarea {
	width: 100%
}

.yasqe .yasqe_buttons .yasqe_queryButton {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin-left: 10px
}

.yasqe .yasqe_buttons .yasqe_queryButton div {
	margin-left: 0
}

.yasqe .yasqe_buttons .yasqe_queryButton .svgImg {
	position: absolute;
	height: inherit
}

.yasqe .yasqe_buttons .yasqe_queryButton .queryIcon {
	display: block
}

.yasqe .yasqe_buttons .yasqe_queryButton .queryIcon svg {
	width: 40px;
	height: 40px
}

.yasqe .yasqe_buttons .yasqe_queryButton.busy svg #loadingIcon {
	stroke-dasharray: 100;
	-webkit-animation: dash 1.5s linear infinite;
	animation: dash 1.5s linear infinite;
	stroke-width: 8px;
	stroke: #fff
}

@
-webkit-keyframes dash {
	to {stroke-dashoffset: 200
}

}
@
keyframes dash {
	to {stroke-dashoffset: 200
}

}
@
-webkit-keyframes rotate {
	to {-webkit-transform: rotate(1turn);
	transform: rotate(1turn)
}

}
@
keyframes rotate {
	to {-webkit-transform: rotate(1turn);
	transform: rotate(1turn)
}

}
.yasqe .yasqe_buttons .yasqe_queryButton .warningIcon {
	display: none
}

.yasqe .yasqe_buttons .yasqe_queryButton.query_error .warningIcon {
	display: block;
	bottom: -5px;
	right: 0
}

.yasqe .yasqe_buttons .yasqe_queryButton.query_error .warningIcon svg {
	width: 15px;
	height: 15px
}

.yasqe .yasqe_buttons .yasqe_queryButton.query_error .warningIcon svg g
	{
	fill: red
}

.yasqe .yasqe_buttons .yasqe_queryButton.query_disabled {
	cursor: not-allowed
}

.yasqe .yasqe_buttons .yasqe_queryButton.query_disabled .queryIcon {
	opacity: .5;
	filter: alpha(opacity = 50)
}

@
-webkit-keyframes spin {
	to {-webkit-transform: rotate(1turn);
	transform: rotate(1turn)
}

}
.yasqe .yasqe_buttons .yasqe_queryButton .busyIcon {
	top: 7px;
	left: 2px;
	position: absolute;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	box-sizing: border-box;
	border: 3.2px solid #505050;
	border-top-color: #fff;
	-webkit-animation: spin 1s ease-in-out infinite;
	animation: spin 1s ease-in-out infinite
}

.CodeMirror-hints {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 2px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
	border-radius: 3px;
	border: 1px solid silver;
	background: #fff;
	font-size: 90%;
	font-family: monospace;
	max-height: 20em;
	overflow-y: auto
}

.CodeMirror-hint {
	margin: 0;
	padding: 0 4px;
	border-radius: 2px;
	white-space: pre;
	color: #000;
	cursor: pointer
}

li.CodeMirror-hint-active {
	background: #08f;
	color: #fff
}

.CodeMirror {
	font-family: monospace;
	height: 300px;
	color: #000;
	direction: ltr
}

.CodeMirror-lines {
	padding: 4px 0
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
	padding: 0 4px
}

.CodeMirror-gutter-filler, .CodeMirror-scrollbar-filler {
	background-color: #fff
}

.CodeMirror-gutters {
	border-right: 1px solid #ddd;
	background-color: #f7f7f7;
	white-space: nowrap
}

.CodeMirror-linenumber {
	padding: 0 3px 0 5px;
	min-width: 20px;
	text-align: right;
	color: #999;
	white-space: nowrap
}

.CodeMirror-guttermarker {
	color: #000
}

.CodeMirror-guttermarker-subtle {
	color: #999
}

.CodeMirror-cursor {
	border-left: 1px solid #000;
	border-right: none;
	width: 0
}

.CodeMirror div.CodeMirror-secondarycursor {
	border-left: 1px solid silver
}

.cm-fat-cursor .CodeMirror-cursor {
	width: auto;
	border: 0 !important;
	background: #7e7
}

.cm-fat-cursor div.CodeMirror-cursors {
	z-index: 1
}

.cm-fat-cursor-mark {
	background-color: rgba(20, 255, 20, .5)
}

.cm-animate-fat-cursor, .cm-fat-cursor-mark {
	-webkit-animation: blink 1.06s steps(1) infinite;
	-moz-animation: blink 1.06s steps(1) infinite;
	animation: blink 1.06s steps(1) infinite
}

.cm-animate-fat-cursor {
	width: auto;
	border: 0;
	background-color: #7e7
}

@
-moz-keyframes blink { 50%{
	background-color: transparent
}

}
@
-webkit-keyframes blink { 50%{
	background-color: transparent
}

}
@
keyframes blink { 50%{
	background-color: transparent
}

}
.cm-tab {
	display: inline-block;
	text-decoration: inherit
}

.CodeMirror-rulers {
	position: absolute;
	left: 0;
	right: 0;
	top: -50px;
	bottom: 0;
	overflow: hidden
}

.CodeMirror-ruler {
	border-left: 1px solid #ccc;
	top: 0;
	bottom: 0;
	position: absolute
}

.cm-s-default .cm-header {
	color: #00f
}

.cm-s-default .cm-quote {
	color: #090
}

.cm-negative {
	color: #d44
}

.cm-positive {
	color: #292
}

.cm-header, .cm-strong {
	font-weight: 700
}

.cm-em {
	font-style: italic
}

.cm-link {
	text-decoration: underline
}

.cm-strikethrough {
	text-decoration: line-through
}

.cm-s-default .cm-keyword {
	color: #708
}

.cm-s-default .cm-atom {
	color: #219
}

.cm-s-default .cm-number {
	color: #164
}

.cm-s-default .cm-def {
	color: #00f
}

.cm-s-default .cm-variable-2 {
	color: #05a
}

.cm-s-default .cm-type, .cm-s-default .cm-variable-3 {
	color: #085
}

.cm-s-default .cm-comment {
	color: #a50
}

.cm-s-default .cm-string {
	color: #a11
}

.cm-s-default .cm-string-2 {
	color: #f50
}

.cm-s-default .cm-meta, .cm-s-default .cm-qualifier {
	color: #555
}

.cm-s-default .cm-builtin {
	color: #30a
}

.cm-s-default .cm-bracket {
	color: #997
}

.cm-s-default .cm-tag {
	color: #170
}

.cm-s-default .cm-attribute {
	color: #00c
}

.cm-s-default .cm-hr {
	color: #999
}

.cm-s-default .cm-link {
	color: #00c
}

.cm-invalidchar, .cm-s-default .cm-error {
	color: red
}

.CodeMirror-composing {
	border-bottom: 2px solid
}

div.CodeMirror span.CodeMirror-matchingbracket {
	color: #0b0
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
	color: #a22
}

.CodeMirror-matchingtag {
	background: rgba(255, 150, 0, .3)
}

.CodeMirror-activeline-background {
	background: #e8f2ff
}

.CodeMirror {
	position: relative;
	overflow: hidden;
	background: #fff
}

.CodeMirror-scroll {
	overflow: scroll !important;
	margin-bottom: -30px;
	margin-right: -30px;
	padding-bottom: 30px;
	height: 100%;
	outline: none;
	position: relative
}

.CodeMirror-sizer {
	position: relative;
	border-right: 30px solid transparent
}

.CodeMirror-gutter-filler, .CodeMirror-hscrollbar,
	.CodeMirror-scrollbar-filler, .CodeMirror-vscrollbar {
	position: absolute;
	z-index: 6;
	display: none
}

.CodeMirror-vscrollbar {
	right: 0;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll
}

.CodeMirror-hscrollbar {
	bottom: 0;
	left: 0;
	overflow-y: hidden;
	overflow-x: scroll
}

.CodeMirror-scrollbar-filler {
	right: 0;
	bottom: 0
}

.CodeMirror-gutter-filler {
	left: 0;
	bottom: 0
}

.CodeMirror-gutters {
	position: absolute;
	left: 0;
	top: 0;
	min-height: 100%;
	z-index: 3
}

.CodeMirror-gutter {
	white-space: normal;
	height: 100%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: -30px
}

.CodeMirror-gutter-wrapper {
	position: absolute;
	z-index: 4;
	background: none !important;
	border: none !important
}

.CodeMirror-gutter-background {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 4
}

.CodeMirror-gutter-elt {
	position: absolute;
	cursor: default;
	z-index: 4
}

.CodeMirror-gutter-wrapper ::selection {
	background-color: transparent
}

.CodeMirror-gutter-wrapper ::-moz-selection {
	background-color: transparent
}

.CodeMirror-lines {
	cursor: text;
	min-height: 1px
}

.CodeMirror pre.CodeMirror-line, .CodeMirror pre.CodeMirror-line-like {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border-width: 0;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	white-space: pre;
	word-wrap: normal;
	line-height: inherit;
	color: inherit;
	z-index: 2;
	position: relative;
	overflow: visible;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-variant-ligatures: contextual;
	font-variant-ligatures: contextual
}

.CodeMirror-wrap pre.CodeMirror-line, .CodeMirror-wrap pre.CodeMirror-line-like
	{
	word-wrap: break-word;
	white-space: pre-wrap;
	word-break: normal
}

.CodeMirror-linebackground {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0
}

.CodeMirror-linewidget {
	position: relative;
	z-index: 2;
	padding: .1px
}

.CodeMirror-rtl pre {
	direction: rtl
}

.CodeMirror-code {
	outline: none
}

.CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber,
	.CodeMirror-scroll, .CodeMirror-sizer {
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.CodeMirror-measure {
	position: absolute;
	width: 100%;
	height: 0;
	overflow: hidden;
	visibility: hidden
}

.CodeMirror-cursor {
	position: absolute;
	pointer-events: none
}

.CodeMirror-measure pre {
	position: static
}

div.CodeMirror-cursors {
	visibility: hidden;
	position: relative;
	z-index: 3
}

.CodeMirror-focused div.CodeMirror-cursors, div.CodeMirror-dragcursors {
	visibility: visible
}

.CodeMirror-selected {
	background: #d9d9d9
}

.CodeMirror-focused .CodeMirror-selected {
	background: #d7d4f0
}

.CodeMirror-crosshair {
	cursor: crosshair
}

.CodeMirror-line::selection, .CodeMirror-line>span::selection,
	.CodeMirror-line>span>span::selection {
	background: #d7d4f0
}

.CodeMirror-line::-moz-selection, .CodeMirror-line>span::-moz-selection,
	.CodeMirror-line>span>span::-moz-selection {
	background: #d7d4f0
}

.cm-searching {
	background-color: #ffa;
	background-color: rgba(255, 255, 0, .4)
}

.cm-force-border {
	padding-right: .1px
}

@media print {
	.CodeMirror div.CodeMirror-cursors {
		visibility: hidden
	}
}

.cm-tab-wrap-hack:after {
	content: ""
}

span.CodeMirror-selectedtext {
	background: none
}

.CodeMirror-foldmarker {
	color: #00f;
	text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px,
		#b9f -1px 1px 2px;
	font-family: arial;
	line-height: .3;
	cursor: pointer
}

.CodeMirror-foldgutter {
	width: .7em
}

.CodeMirror-foldgutter-folded, .CodeMirror-foldgutter-open {
	cursor: pointer
}

.CodeMirror-foldgutter-open:after {
	content: "\25BE"
}

.CodeMirror-foldgutter-folded:after {
	content: "\25B8"
}

.yasqe .CodeMirror {
	line-height: 1.5em;
	font-size: 14px;
	border: 1px solid #d1d1d1
}

.yasqe span.cm-error {
	border-bottom: 2px dotted red
}

.yasqe .gutterErrorBar {
	width: 4px
}

.yasqe .CodeMirror-foldmarker {
	color: #6e2500;
	text-shadow: #ff935e 1px 1px 2px, #ff935e -1px -1px 2px, #ff935e 1px
		-1px 2px, #ff935e -1px 1px 2px;
	font-size: 19px
}

.yasqe .cm-matchhighlight {
	background-color: #dbdeed
}