<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title layout:title-pattern="$CONTENT_TITLE">ADFSee (3d force graph VR)</title>
<!-- 		<object th:include="core :: assets" th:remove="tag"/> -->
		<link rel="icon" type="image/png" th:href="@{/image/favicon.png}">
		<link type="text/css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/css/basic.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/js/dropzone.css}">
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
		<script type="text/javascript" th:src="@{/js/jsstore.js}"></script>
		<script type="text/javascript" th:src="@{/js/dropzone.js}"></script>
<!-- 		<script type="text/javascript" th:src="@{/js/bluebird.js}"></script> -->
		<link type="text/css" href="../css/3dfg.css" rel="stylesheet"/>
		<script type="text/javascript" src="../js/d3-dsv.js"></script>
		<script type="text/javascript" src="../js/dat.gui"></script>
		<script type="text/javascript" src="../js/three.js"></script>
		<script type="text/javascript" src="../js/d3-octree.js"></script>
<!-- 		<script src="//unpkg.com/d3-force-3d"></script> -->
		<script type="text/javascript" src="../js/d3-force-3d.js"></script>
		<script type="text/javascript" src="../js/three-sprite.js"></script>
		<script type="text/javascript" src="../js/force-graph.js"></script>
		<script type="text/javascript" src="../js/3d-force-graph-vr.js"></script>
		<script type="text/javascript" src="../data/tree-data.js"></script>
	</head>
	<body>
		<div th:fragment="main">
			<div id="logo">
				<a href="http://www.allotrope.org/"><img src="../image/logo.svg" width="30"></a>
			</div>
			<div id="tools" style="border: 0px solid;">
				<span>
					<a href="./3dfg.html" style="font-size: 10pt; color: #FFFFFF; cursor: pointer; text-decoration: none;">back to 3D</a>
				</span><br/> 
			</div>
			<div id="info"></div>
			<div id="3dgraph" style="margin-top: -5px;"></div>
		</div>
		<div th:include="core :: dataselector" th:remove="tag"></div>
		<div th:include="core :: footerFragment" th:remove="tag"></div>
		<div th:include="core :: adfseeUtil" th:remove="tag"></div>
		<script type="text/javascript"  th:src="@{/js/adfsee-3dfgVR.js}"></script>
	</body>
</html>