<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="assets">
		<link rel="icon" type="image/png" th:href="@{/image/favicon.png}">
		<link type="text/css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/css/basic.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/js/dropzone.css}">
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
		<script type="text/javascript" th:src="@{/js/jsstore.js}"></script>
		<script type="text/javascript" th:src="@{/js/dropzone.js}"></script>
		<script type="text/javascript" th:src="@{/js/bluebird.js}"></script>
<!-- 		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')</script> -->
        </head>
	<body>
		<div th:fragment="dataselector">
			<input type="checkbox" id="uploadfile" name="" value="" />
			<div id="uploadcontainer">
				<label for="uploadfile" class="toggle rotate">
					<div id="logowhite">
						<img src="../image/logo-white.svg" width="12">&nbsp;Select Data
					</div>
				</label>
				<nav class="sidebar">
					<div class="container-fluid">
						<div class="panel panel-default" id="fileupload_main_panel">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<form enctype="multipart/form-data" action="/upload" method="POST" class="dropzone" id="fileUploadForm">
											<span id="fileUploadStatus"> </span>
										</form>
									</div>
								</div>
								<div id="spacer"></div>
								<div class="row">
									<div class="col-md-12">
										<form enctype="multipart/form-data" action="/uploadadditional"	method="POST" class="dropzone" id="additionalFileUploadForm">
											<span id="fileUploadStatus"> </span>
										</form>
									</div>
								</div>
								<div id="spacer"></div>
								<div id="instanceorclass"> 
									<div id="instances">
										<label class="radiocontainer">See instances<input id="instanceinput" type="radio" checked name="viztype" value="instances">
		 									<span id="instancecheckmark" class="checkmark"></span>
										</label>
									</div>
									<div id="classes">
										<label class="radiocontainer">See vocabulary<input id="classinput" type="radio" name="viztype" value="vocabulary">
		 									<span id="classcheckmark" class="checkmark"></span>
										</label>
									</div>
								</div>
								<div id="spacer"></div>
								<div class="customcheckbox">
									<input type="checkbox" id="includeafo" name="includeafo" style="vertical-align: middle; margin-left: 15px; color: #ffffff;"	value="checked" checked="true"> 
										<label for="includeafo" style="vertical-align: middle; color: #ffffff;"></label>
									<span style="position: relative; top: -16px; left: 35px; width: 100%; float: left; vertical-align: middle; color: #ffffff;">Load AFO2.0</span>
								</div>
								<div id="spacer"></div>
								<div class="customcheckbox">
									<input type="checkbox" id="includeaft" name="includeaft" style="vertical-align: middle; margin-left: 15px; color: #ffffff;"	value="checked" checked="true"> 
									<label for="includeaft"	style="vertical-align: middle; color: #ffffff;"></label>
									<span style="position: relative; top: -16px; left: 35px; width: 100%; float: left; vertical-align: middle; color: #ffffff;">Load AFT1.1.5</span>
								</div>
								<div id="spacer"></div>
								<div class="customcheckbox">
									<input type="checkbox" id="dolayout" name="dolayout" style="vertical-align: middle; margin-left: 15px; color: #ffffff;"	value="checked" checked="true"> 
									<label for="dolayout" style="vertical-align: middle; color: #ffffff;"></label>
									<span style="position: relative; top: -16px; left: 35px; width: 100%; float: left; vertical-align: middle; color: #ffffff;">Do layout server-side</span>
								</div>
								<div id="spacer"></div>
								<div class="customcheckbox">
									<input type="checkbox" id="includeadf" name="includeadf" style="vertical-align: middle; margin-left: 15px; color: #ffffff;"	value="checked"> 
									<label for="includeadf"	style="vertical-align: middle; color: #ffffff;"></label>
									<span style="position: relative; top: -16px; left: 35px; width: 100%; float: left; vertical-align: middle; color: #ffffff;">Include ADFAPI</span>
								</div>
								<div id="spacer"></div>
								<div class="customcheckbox">
									<input type="checkbox" id="literalnodes" name="literalnodes" style="vertical-align: middle; margin-left: 15px; color: #ffffff;"	value="checked"> 
									<label for="literalnodes" style="vertical-align: middle; color: #ffffff;"></label>
									<span style="position: relative; top: -16px; left: 35px; width: 100%; float: left; vertical-align: middle; color: #ffffff;">Exclude Literals</span>
								</div>
								<div id="spacer"></div>
								<div class="customcheckbox">
									<input type="checkbox" id="example" name="example" style="vertical-align: middle; margin-left: 15px; color: #ffffff;" value="checked"> 
										<label for="example" style="vertical-align: middle; color: #ffffff;"></label>
									<span style="position: relative; top: -18px; left: 35px; width: 100%; float: left; vertical-align: middle; color: #ffffff;">Try example</span>
								</div>
								<div id="spacer"></div>
								<div class="customcheckbox">
									<input type="checkbox" id="multigraph" name="multigraph" style="vertical-align: middle; margin-left: 15px; color: #ffffff;" value="checked"> 
										<label for="multigraph" style="vertical-align: middle; color: #ffffff;"></label>
									<span style="position: relative; top: -18px; left: 35px; width: 100%; float: left; vertical-align: middle; color: #ffffff;">Multiple graphs</span>
								</div>
								<div id="spacer"></div>
								<div class="customcheckbox" style="display:none;">
									<input type="checkbox" id="skolemize" name="skolemize" style="vertical-align: middle; margin-left: 15px; color: #ffffff;" value="checked"> 
										<label for="skolemize" style="vertical-align: middle; color: #ffffff;"></label>
									<span style="position: relative; top: -18px; left: 35px; width: 100%; float: left; vertical-align: middle; color: #ffffff;">Skolemize bnodes</span>
								</div>
								<div id="spacer"></div>
								<div class="customcheckbox">
									<input type="checkbox" id="endpoint" name="endpoint" style="vertical-align: middle; margin-left: 15px; color: #ffffff;" value="checked"> 
										<label for="endpoint" style="vertical-align: middle; color: #ffffff;"></label>
									<span style="position: relative; top: -18px; left: 36px; width: 100%; float: left; vertical-align: middle; color: #ffffff;">Query endpoint</span>
									<input type="text" id="endpointurl" class="customtextbox" name="endpointurl" value="http://" style="vertical-align: middle; margin-left: 15px; color: #ffffff;">
									<input type="text" id="graph" class="customtextbox" name="graph" value="default" style="vertical-align: middle; margin-left: 15px; color: #ffffff;"> 
									<textarea id="construct" class="customtextbox" name="construct" value="construct query" style="vertical-align: middle; margin-left: -21px; color: #ffffff; overflow: hidden; width: 156px; margin-top:8px;"></textarea>
								</div>
  								<div id="spacer"></div>
								<button id="processbutton">
									<div id="logowhiteButton">
										<img id="adfseeimage" src="../image/logo-white.svg" width="16">&nbsp;
										<span style="font-size: 14pt; font-weight: bold; color: #ffffff;">See!</span>
									</div>
								</button>
								<br />
								<div id="spacer"></div>
								<div id="viewresult">
									<div id="processingresult"></div>
								</div>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div th:fragment="footerFragment">
			<div id="loading"></div>
			<div id="footer">
				&copy;2020 Allotrope Foundation
			</div>
		</div>
		<div th:fragment="adfseeUtil">
			<script type="text/javascript"  th:src="@{/data/data.js}"></script>
			<script type="text/javascript"  th:src="@{/js/adfsee-dataselector.js}"></script>
			<script type="text/javascript"  th:src="@{/js/adfsee-status.js}"></script>
			<script type="text/javascript"  th:src="@{/js/adfsee-persistence.js}"></script>
			<script type="text/javascript"  th:src="@{/js/adfsee-event.js}"></script>
		</div>
	</body>
</html>