<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="assets">
		<link type="text/css" th:href="@{/css/cytoscape.js-navigator.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/css/qtip.css}" rel="stylesheet">
		<link type="text/css" th:href="@{/css/cytoscape.js-panzoom.css}" rel="stylesheet"/>
		<script type="text/javascript" th:src="@{/js/svg.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-cose-bilkent.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
		<script type="text/javascript" th:src="@{/js/arbor.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-arbor.js}"></script>
		<script type="text/javascript" th:src="@{/js/cola.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-cola.js}"></script>
		<script type="text/javascript" th:src="@{/js/dagre.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-dagre.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-euler.js}"></script>
		<script type="text/javascript" th:src="@{/js/klay.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-klay.js}"></script>
		<script type="text/javascript" th:src="@{/js/weaver.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-spread.js}"></script>
		<script type="text/javascript" th:src="@{/js/springy.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-springy.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-ngraph.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-cxtmenu.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-navigator.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-undo-redo.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-expand-collapse.js}"></script>
		<script type="text/javascript" th:src="@{/js/writefile.js}"></script>
		<script type="text/javascript" th:src="@{/js/b642blob.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-qtip.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-qtip.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-svg-convertor.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-panzoom.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-view-utilities.js}"></script>
		<script type="text/javascript" th:src="@{/js/filterOutEdgesToParents.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-node-html-label.js}"></script>
		<script type="text/javascript" th:src="@{/js/lodash-4.17.4.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-fisheye.js}"></script>
		<script type="text/javascript" th:src="@{/js/d3-dispatch.v1.0.6.js}"></script>
		<script type="text/javascript" th:src="@{/js/d3-timer.v1.0.10.js}"></script>
		<script type="text/javascript" th:src="@{/js/d3-quadtree.v1.0.7.js}"></script>
		<script type="text/javascript" th:src="@{/js/d3-force.js}"></script>
		<script type="text/javascript" th:src="@{/js/cytoscape-d3-force.js}"></script>
	    <script>
	      window['d3-force'] = d3
	    </script>
   	</head>
	<body>
		<div th:fragment="main">
			<div id="cy"></div>
			<div id="logo">
				<a href="http://www.allotrope.org/"><img src="../image/logo.svg" width="30"></a>
			</div>
			<div id="tools" style="border: 0px solid;">
				<input type="text" id="tosearch">
				<button id="search">Search</button> <br/> 
				<span id="exportpng" style="cursor: pointer;">Export png</span> / 
				<span id="exportjpg" style="cursor: pointer;">Export jpg</span> / 
				<span id="exportjson" style="cursor: pointer;">Export json</span> 
				<span id="exportsvg" style="cursor: pointer; display: none;"> / Export svg (not fully working)</span><br/> 
				<span id="hide" style="cursor: pointer;">Hide selected</span> / <span id="showAll" style="cursor: pointer;">Show all</span> <br/>
				<!--<span id="showHiddenNeighbors" style="cursor: pointer;">Show hidden neighbors of selected node</span><br/> 
				<span id="highlightNeighbors" style="cursor: pointer;">Highlight neighbors</span> / 
				<span id="removeHighlights" style="cursor: pointer;">Remove highlights</span><br />-->
				<input type="checkbox" id="layout" name="layout" style="vertical-align: middle;" value="checked"> 
				<label for="layout" style="vertical-align: middle;">Rearrange on hide/show/doubleclick</label><br /> 
				<input type="checkbox" id="taptoshow" name="taptoshow" style="vertical-align: middle;" value="checked">
				<label for="taptoshow" style="vertical-align: middle;">Tap to show/hide children</label><br /> 
				<input type="checkbox" id="tooltips"	name="tooltips" style="vertical-align: middle;" value="checked">
				<label for="tooltips" style="vertical-align: middle;">Show tooltips</label><br />
				<!--<input type="checkbox" id="collapsible" name="collapsible" style="vertical-align:middle;" value="checked">
				<label for="collapsible" style="vertical-align:middle;">Use collapsible nested view</label><br/>-->
				<input type="checkbox" id="excludeparentlinks" name="excludeparentlinks" style="vertical-align: middle;" value="checked"> <label for="excludeparentlinks" style="vertical-align: middle;">Exclude parent links from	layouting</label><br /> 
				<!--<b id="collapseAll" style="cursor: pointer;">Collapse all</b> / <b id="expandAll" style="cursor: pointer;">Expand all</b> <br />
				<b id="collapseRecursively" style="cursor: pointer;">Collapse selected recursively</b> / <b id="expandRecursively" style="cursor: pointer;">Expand selected recursively</b> <br />-->
				<a href="./html-label.html" th:class="${#strings.contains(#httpServletRequest.requestURI,'index.html')} ? activeLinkClass : inactiveLinkClass">Show detailed labels</a>
				<a href="./index.html" th:class="${#strings.contains(#httpServletRequest.requestURI,'html-label')} ? activeLinkClass : inactiveLinkClass">Standard labels</a>
				<input type="checkbox" id="graphdblook"	name="graphdblook" style="vertical-align: middle;" value="checked">
				<label for="graphdblook" style="vertical-align: middle;">GraphDB look</label>&nbsp;&nbsp;
				<input type="checkbox" id="fisheye"	name="fisheyeview" style="vertical-align: middle;" value="checked">
				<label for="fisheye" style="vertical-align: middle;">Fisheye view</label><br/>
				<input type="checkbox" id="scalebydegree" name="scaledegree" style="vertical-align: middle;" value="checked">
				<label for="scalebydegree" style="vertical-align: middle;">Scale by degree</label>
				<div class="slidecontainer">
					<input type="range" min="0" max="10000" value="50" class="slider" id="edgelengthslider">
					<span class="sliderlabel" id="edgelengthlabel">ideal edgelength(cose, D3) / node layering(klay)</span>
					<span class="slidervalue" id="edgelengthvalue"></span>
				</div>
				<div class="slidecontainer">
					<input type="range" min="0" max="10000" value="50" class="slider" id="elasticityslider"><span class="sliderlabel" id="elasticitylabel">elasticity / damping / strength (D3)</span>
					<span class="slidervalue" id="elasticityvalue"></span>
				</div>
				<div class="slidecontainer">
					<input type="range" min="0" max="10000" value="50" class="slider" id="nestingslider"><span class="sliderlabel"	id="nestinglabel">nested edgelength / rand(klay) / collide (D3)</span>
					<span class="slidervalue" id="nestingvalue"></span>
				</div>
				<div class="slidecontainer">
					<input type="range" min="1" max="10000" value="50" class="slider" id="spreadslider"><span class="sliderlabel" id="spreadlabel">min distance / placement(klay) / radial (D3)</span>
					<span class="slidervalue" id="spreadvalue"></span>
				</div>
				<div class="slidecontainer">
					<input type="range" min="-1" max="100" value="50" class="slider" id="expandslider"><span class="sliderlabel" id="expandlabel">expand / space(klay) / fix node (D3)</span><span class="slidervalue" id="expandvalue"></span>
				</div>
				<div class="slidecontainer">
					<input type="range" min="0" max="1000" value="50" class="slider" id="repulsionslider"><span class="sliderlabel"	id="repulsionlabel"> replsn / thrgh(klay) / speed (D3)</span>
					<span class="slidervalue" id="repulsionvalue"></span>
				</div>
				<div class="slidecontainer">
					<input type="range" min="0" max="1000" value="50" class="slider" id="overlapslider"><span class="sliderlabel" id="overlaplabel">node overlap</span>
					<span class="slidervalue" id="overlapvalue"></span>
				</div>
				<div class="slidecontainer">
					<input type="range" min="6" max="500" value="49" class="slider" id="nodesizeslider"><span class="sliderlabel" id="nodesizelabel">node size</span>
					<span class="slidervalue" id="nodesizevalue"></span>
				</div>
				<div class="slidecontainer">
					<input type="range" min="0" max="50" value="1" class="slider" id="nodeborderslider"><span class="sliderlabel" id="nodeborderlabel">node border</span>
					<span class="slidervalue" id="nodebordervalue"></span>
				</div>
				<div class="slidecontainer">
					<input type="range" min="6" max="500" value="41" class="slider" id="edgesizeslider"><span class="sliderlabel" id="edgesizelabel">edge size</span>
					<span class="slidervalue" id="edgesizevalue"></span>
				</div>
				<div class="slidecontainer">
					<input type="range" min="0" max="200" value="1" class="slider" id="edgewidthslider"><span class="sliderlabel" id="edgewidthlabel">edge width</span>
					<span class="slidervalue" id="edgewidthvalue"></span>
				</div>
				<span>
					<a href="./inspire-tree.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">show textual tree</a>&nbsp;&nbsp;&nbsp; 
					<a href="./vis-tree.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">visjs graph</a>&nbsp;&nbsp;&nbsp; 
					<a href="./d3.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">d3</a>&nbsp;&nbsp;&nbsp; 
					<a href="./peak-table.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">peak table</a>&nbsp;&nbsp;&nbsp; 
					<a href="./audit-trail.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">audit trail</a>&nbsp;&nbsp;&nbsp;
					<a href="./adf-info.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">adf info</a>&nbsp;&nbsp;&nbsp;
					<a href="./datapackage.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">datapackage</a>&nbsp;&nbsp;&nbsp;
					<a href="./datadescription.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">datadescription</a>&nbsp;&nbsp;&nbsp;
					<a href="./3dfg.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">3d</a>&nbsp;&nbsp;&nbsp;
					<a href="./2dfg.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">2d</a>&nbsp;&nbsp;&nbsp;
					<a href="./pixi.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">pixi</a>&nbsp;&nbsp;&nbsp;
					<a href="./stardust.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">stardust</a>&nbsp;&nbsp;&nbsp;
					<a href="./ml.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">ml-cluster</a>&nbsp;&nbsp;&nbsp;
					<a href="./biofabric.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">biofabric</a><br/>
					<span th:if="${useTripleStore}">
						<a target="_blank" rel="noopener noreferrer" href="http://localhost:9999/dataset.html?tab=query&ds=/adfsee" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">triple store</a>&nbsp;&nbsp;&nbsp;
						<a target="_blank" rel="noopener noreferrer" href="./ontodia.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">ontodia</a>&nbsp;&nbsp;&nbsp;
						<a target="_blank" rel="noopener noreferrer" href="./yasgui.html" style="font-size: 12pt; color: #000000; cursor: pointer; text-decoration: none;">yasgui</a><br/>
					</span>
				</span><br/> 
			</div>
			<div id="layoutalgos" style="border: 0px solid;">
				<fieldset id="layoutalgo" style="border: none;">
					<input type="radio" id="d3-force" name="algo" value="d3-force"> 
						<label for="d3-force">Force (D3)</label> 
					<input type="radio" id="cose" name="algo" value="cose"> 
						<label for="cose">Force (Cose)</label> 
					<input type="radio" id="cose-bilkent" name="algo" value="cose-bilkent"> 
						<label for="cose-bilkent">Force (Cose-Bilkent)</label> 
					<input type="radio" id="springy" name="algo" value="springy"> 
						<label for="springy">Force (simple)</label> 
					<input type="radio" id="spread"	name="algo" value="spread"> 
						<label for="euler">Force (Euler)</label> 
					<input type="radio" id="euler" name="algo" value="euler">
						<label for="cola">Force (Cola)</label> 
					<input type="radio" id="cola" name="algo" value="cola"> 
						<label for="spread">Full space</label> 
					<input type="radio" id="klay" name="algo" value="klay">
						<label for="klay">Klay</label> 
					<input type="radio" id="dagre" name="algo" value="dagre"> 
						<label for="dagre">Tree (Dagre)</label> 
					<input type="radio" id="breadthfirst" name="algo" value="breadthfirst"> 
						<label for="breadthfirst">Tree (breadth)</label> 
					<input type="radio" id="grid" name="algo" value="grid"> 
						<label for="grid">Grid</label> 
					<input type="radio" id="circle" name="algo" value="circle"> 
						<label for="circle">Circular</label>
					<input type="radio" id="concentric" name="algo" value="concentric">
						<label for="concentric">Concentric</label> 
					<input type="radio" id="random" name="algo" value="random"> 
						<label for="random">Random</label>
					<input type="radio" id="preset" name="algo" value="preset"> 
						<label for="preset">Preset</label>
				</fieldset>
			</div>
			<div id="create"></div>
		</div>
	</body>
</html>