<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF8">
		<title layout:title-pattern="$CONTENT_TITLE">ADFSee (datadescription)</title>
		<link rel="stylesheet" th:href="@{/css/jqtree.css}">
		<link type="text/css" href="../css/datadescription.css" rel="stylesheet" id="infocss"/>
		<object th:include="core :: assets" th:remove="tag"/>
		<object th:include="tree :: assets" th:remove="tag"/>
		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/js/tree.jquery.js}"></script>
		<script type="text/javascript" th:src="@{/data/tree-data.js}"></script>
		<link href='../css/roboto.css' rel='stylesheet' type='text/css'>
		<style>
			.activeaudit {
			    font-size: 12pt;
			    color: #000000;
			    cursor: pointer;
			    text-decoration: none;
			    font-weight: bold;
			}
			.inactiveaudit {
			    font-size: 12pt;
			    color: #000000;
			    cursor: pointer;
			    text-decoration: none;
			    font-weight: normal;
			}
			.activebutton {
				opacity : 1.0;
				cursor : default!important;
			}
			.inactivebutton {
				opacity : 0.2;
				cursor : default!important;
			}
		</style>
	</head>
	<body style="overflow-x:hidden; overflow-y:auto">
		<div th:include="core :: dataselector" th:remove="tag"></div>
		<div th:replace="tree :: treeFragment"></div> 
		<div id="info">
			<div class="datadescription">
				<div><h2>Datadescription</h2></div>
				<div id="datadescription"></div>
			</div>
			<div id="details"></div>
		</div>
		<div th:include="core :: footerFragment" th:remove="tag"></div>
		<div th:include="core :: adfseeUtil" th:remove="tag"></div>
		<script type="text/javascript" src="../js/adfsee-util.js"></script>
		<script type="text/javascript" src="../js/adfsee-datadescription.js"></script>
	</body>
</html>