<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title layout:title-pattern="$CONTENT_TITLE">ADFSee (inspire tree)</title>
		<object th:include="core :: assets" th:remove="tag"/>
		<object th:include="tree :: assets" th:remove="tag"/>
		<link rel="stylesheet" th:href="@{/css/inspire-tree.css}">
		<script type="text/javascript" th:src="@{/js/inspire-tree.js}"></script>
		<script type="text/javascript" th:src="@{/js/inspire-tree-dom.js}"></script>
		<script type="text/javascript" th:src="@{/js/prism.js}"></script>
		<script type="text/javascript" th:src="@{/js/lodash.js}"></script>
		<script type="text/javascript" th:src="@{/js/require.js}"></script>
	</head>
	<body>
		<div th:replace="tree :: treeFragment"></div> 
		<div th:include="core :: dataselector" th:remove="tag"></div>
		<div th:include="core :: footerFragment" th:remove="tag"></div>
		<div th:include="core :: adfseeUtil" th:remove="tag"></div>
		<script type="text/javascript" th:src="@{/js/adfsee-inspire-tree.js}"></script>
	</body>
</html>