<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title layout:title-pattern="$CONTENT_TITLE">ADFSee (jquery tree)</title>
		<object th:include="core :: assets" th:remove="tag"/>
		<object th:include="tree :: assets" th:remove="tag"/>
		<link rel="stylesheet" th:href="@{/css/jqtree.css}">
		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/js/tree.jquery.js}"></script>
	</head>
	<body>
		<div th:replace="tree :: treeFragment"></div> 
		<div th:include="core :: dataselector" th:remove="tag"></div>
		<div th:include="core :: footerFragment" th:remove="tag"></div>
		<div th:include="core :: adfseeUtil" th:remove="tag"></div>
		<script type="text/javascript" th:src="@{/js/adfsee-jqtree.js}"></script>
	</body>
</html>