<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
		<title layout:title-pattern="$CONTENT_TITLE">Ontodia</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
		<link type="text/css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
		<link type="text/css" href="../css/ontodia.css" rel="stylesheet"/>
	</head>
	<body>
		<div id="container"></div>
	    <script type="text/javascript" th:src="@{/js/ontodia.commons.chunk.js}"></script>
	    <script type="text/javascript" th:src="@{/js/ontodia.bundle.js}"></script>
	</body>
</html>