<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title layout:title-pattern="$CONTENT_TITLE">ADFSee (pixi)</title>
		<link rel="icon" type="image/png" th:href="@{/image/favicon.png}">
		<link type="text/css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/css/basic.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/css/pixi.css}" rel="stylesheet"/>
		<script type="text/javascript" src="../js/pixi-5.1.1.js"></script>
		<script type="text/javascript" src="../js/d3.v5.4.js"></script>
		<script type="text/javascript" src="../js/pixi-filters-3.0.3.js"></script>
		<script type="text/javascript" src="../js/pixi-viewport-4.2.1.min.js"></script>
		<script type="text/javascript" th:src="@{/js/jsstore.js}"></script>
	</head>
	<body>
		<div th:fragment="main">
			<div id="logo">
				<a href="http://www.allotrope.org/"><img src="../image/logo.svg" width="30"></a>
			</div>
			<div id="tools" style="border: 0px solid;">
				<span>
					<a href="./index.html" style="font-size: 10pt; color: #000000; cursor: pointer; text-decoration: none;">back to cytoscape</a>
				</span><br/> 
				<span id="showlabels" style="font-size: 10pt; color: #000000; cursor: pointer; text-decoration: none;">Show/hide labels</span> 
			</div>
			<div id="info"></div>
			<div id="pixigraph" style="margin-top: -5px;"></div>
		</div>
		<div th:include="core :: footerFragment" th:remove="tag"></div>
		<script type="text/javascript"  th:src="@{/js/adfsee-status.js}"></script>
		<script type="text/javascript"  th:src="@{/js/adfsee-persistence.js}"></script>
		<script type="text/javascript"  th:src="@{/js/adfsee-util.js}"></script>
		<script type="text/javascript"  th:src="@{/js/adfsee-pixi.js}"></script>
	</body>
</html>