<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="assets">
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/css/basic.css}">
		<link rel="stylesheet" th:href="@{/css/tree.css}">
		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/data/tree-data.js}"></script>
	</head>
	<body>
		<div th:fragment="treeFragment"> 
			<div id="logo"><a href="http://www.allotrope.org/"><img src="../image/logo.svg" width="30"></a></div>
			<div id="buttons">
				<b id="expand" style="cursor: pointer; ">expand all</b> / 
				<b id="collapse" style="cursor: pointer; ">collapse all</b> &nbsp;&nbsp;&nbsp;
				<a href="./inspire-tree.html" th:class="${#strings.contains(#httpServletRequest.requestURI,'inspire-tree.html')} ? activeTree : inactiveTree">inspire tree</a>&nbsp;&nbsp;&nbsp;
				<a href="./jquery-tree.html" th:class="${#strings.contains(#httpServletRequest.requestURI,'jquery-tree.html')} ? activeTree : inactiveTree">jquery tree</a>&nbsp;&nbsp;&nbsp;
				<a href="./vue-tree.html" th:class="${#strings.contains(#httpServletRequest.requestURI,'vue-tree.html')} ? activeTree : inactiveTree">vue tree</a>&nbsp;&nbsp;&nbsp;
				<a href="./vis-tree.html" th:class="${#strings.contains(#httpServletRequest.requestURI,'vis-tree.html')} ? activeTree : inactiveTree">vis js</a>&nbsp;&nbsp;&nbsp;
				<a href="./peak-table.html" th:class="${#strings.contains(#httpServletRequest.requestURI,'peak')} ? activeTree : inactiveTree">peak table</a>&nbsp;&nbsp;&nbsp;
				<a href="./audit-trail.html" th:class="${#strings.contains(#httpServletRequest.requestURI,'audit-trail')} ? activeTree : inactiveTree">audit trail</a>&nbsp;&nbsp;&nbsp;
				<a href="./adf-info.html" th:class="${#strings.contains(#httpServletRequest.requestURI,'adf-info')} ? activeTree : inactiveTree">adf info</a>&nbsp;&nbsp;&nbsp;
				<a href="./datapackage.html" th:class="${#strings.contains(#httpServletRequest.requestURI,'datapackage')} ? activeTree : inactiveTree">datapackage</a>&nbsp;&nbsp;&nbsp;
				<a href="./datadescription.html" th:class="${#strings.contains(#httpServletRequest.requestURI,'datadescription')} ? activeTree : inactiveTree">datadescription</a>
			</div>
			<div id="graphview"><a href="./index.html" class="homeLink">cytoscape</a><br/></div>
			<div id="textualtree"></div>
		</div>
	</body>
</html>