<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title layout:title-pattern="$CONTENT_TITLE">ADFSee (vue tree)</title>
		<object th:include="core :: assets" th:remove="tag"/>
		<object th:include="tree :: assets" th:remove="tag"/>
		<link rel="stylesheet" th:href="@{/css/vue-tree.css}">
		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/js/vue.js}"></script>
	</head>
	<body>
		<div th:replace="tree :: treeFragment"></div> 
		<div id="vuetree">
			<script type="text/x-template" id="item-template">
			  <li>
			    <div
			      :class="{bold: isFolder}"
			      @click="toggle" v-html="model.name">
			      {{ model.name }}
			      <span v-if="isFolder">[{{ open ? '-' : '+' }}]</span>
			    </div>
			    <ul v-show="open" v-if="isFolder">
			      <item
			        class="item"
			        v-for="(model, index) in model.children"
			        :key="index"
			        :model="model">
			      </item>
			    </ul>
			  </li>
			</script>
			<ul id="tree">
				<item class="item" :model="treeData"></item>
			</ul>
		</div>
		<div th:include="core :: dataselector" th:remove="tag"></div>
		<div th:include="core :: footerFragment" th:remove="tag"></div>
		<div th:include="core :: adfseeUtil" th:remove="tag"></div>
		<script type="text/javascript" th:src="@{/js/adfsee-vue-tree.js}"></script>
	</body>
</html>