<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title layout:title-pattern="$CONTENT_TITLE">ADFSee (yasgui)</title>
		<link rel="icon" type="image/png" th:href="@{/image/favicon.png}">
		<link type="text/css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/css/basic.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/css/yasgui.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/css/yasqe.css}" rel="stylesheet"/>
		<link type="text/css" th:href="@{/css/yasr.css}" rel="stylesheet"/>
		<script type="text/javascript" th:src="@{/js/jsstore.js}"></script>
	</head>
	<body>
		<div th:fragment="main">
			<div id="logo">
				<a href="http://www.allotrope.org/"><img src="../image/logo.svg" width="30"></a>
			</div>
			<div id="tools" style="border: 0px solid;">
				<span>
					<a href="./index.html" style="font-size: 10pt; color: #000000; cursor: pointer; text-decoration: none;">back to cytoscape</a>
				</span><br/> 
			</div>
		</div>
		<div id="yasgui"></div>
		<div>
			<div id="loading"></div>
		</div>
		<script type="text/javascript"  th:src="@{/js/adfsee-status.js}"></script>
		<script type="text/javascript"  th:src="@{/js/adfsee-persistence.js}"></script>
		<script type="text/javascript"  th:src="@{/js/adfsee-util.js}"></script>
		<script type="text/javascript"  th:src="@{/js/yasgui.js}"></script>
		<script type="text/javascript"  th:src="@{/js/yasqe.js}"></script>
		<script type="text/javascript"  th:src="@{/js/yasr.js}"></script>
		<script type="text/javascript"  th:src="@{/js/adfsee-yasgui.js}"></script>
	</body>
</html>